<div class="container-fluid">

  <app-page-title title="Cotizaciones" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">

    <div class="col-12">

      <div class="card">

        <div class="card-body">

          <div class="row mb-2">

            <div class="col-sm-4">
              
            </div>

            <div class="col-sm-8">

              <div class="text-sm-end">

                <button type="button" class="btn btn-success btn-rounded mb-2 me-2" (click)="openModal(content)">
                  <i class="mdi mdi-plus mr-1"></i>
                  Crear una Orden
                </button>

                <button type="button" class="btn btn-info btn-rounded mb-2 me-2" *ngIf="status == 4"
                  (click)="openModal(modal_locker_entry);">
                  <i class="mdi mdi-plus mr-1"></i>
                  Ingreso a Casillero
                </button>

              </div>

            </div>

          </div>

          <ul class="nav nav-pills d-flex justify-content-center">

            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': status == 0 }" (click)="status = 0;  getTransactions()">
                Por Aprobar
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': status == 1}"
                (click)="status = 1 ;  getTransactions()">Cotizadas</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active':status == 2}" (click)="status = 2;  getTransactions()">
                En proceso de pago
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': status == 3 }" (click)="status = 3;  getTransactions()">
                Registrar Compra </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': status == 4}" (click)="status = 4;  getTransactions()">
                Ingresar Producto
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [ngClass]="{ 'active': status == 5 }"
                (click)="status = 5;  getTransactions()">Finalizada</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': status == 6}"
                (click)="status = 6;  getTransactions()">Canceladas</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': status == 7}"
                (click)="status = 7;  getTransactions()">Vencidas</a>
            </li>

          </ul>
          <!-- Table data -->
          <hr>

          <div class="text-center" *ngIf="isLoading">
            <div class="spinner-border" role="status">
              <span class="sr-only">Cargando...</span>
            </div>
          </div>

          <div class="container-table" [ngClass]="{ 'hide-table' : isLoading }">

            <app-transaction class="mt-1" [transactions]="transactions | filter:term" [status]="status"
              (refreshTable)="refreshTableReceive($event);" (filterValues)="getTransactions(null, $event)">
            </app-transaction>

            <mat-paginator [length]="counts" [pageSizeOptions]="[10]" (page)="getTransactions($event)">
            </mat-paginator>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<!-- Modal To create New Order -->
<ng-template #content role="document" let-modal>
  <app-create-order [trm]="trm" [users]="users" (close_modale)="modal.close('Close click')"
    (refreshTable)="refreshTableReceive($event);"></app-create-order>
</ng-template>

<ng-template #modal_locker_entry role="document" let-modal>
  <app-modal-locker-entry (refreshTable)="refreshTableReceive($event);"></app-modal-locker-entry>
</ng-template>