<div class="container-fluid">

  <app-page-title title="Cotizaciones" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">

    <div class="col-12">

      <div class="card">

        <div class="card-body">

          <div class="row mb-2">

            <div class="col-sm-4">

            </div>

            <div class="col-sm-8">

              <div class="text-sm-end" style="display: flex; overflow: auto; justify-content: flex-end;">

                <button type="button" class="btn btn-danger btn-rounded mb-2 me-2" (click)="resetFilters()">
                  <i class="bx bx-trash-alt mr-1"></i>
                  Eliminar Filtros
                </button>

                <button type="button" class="btn btn-success btn-rounded mb-2 me-2" (click)="openModal(content)">
                  <i class="mdi mdi-plus mr-1"></i>
                  Crear una Orden
                </button>

                <!-- <button type="button" class="btn btn-info btn-rounded mb-2 me-2" *ngIf="status == 4"
                  (click)="openModal(modal_locker_entry);">
                  <i class="mdi mdi-plus mr-1"></i>
                  Ingreso a Casillero
                </button> -->

              </div>

            </div>

          </div>

          <div style="display: flex; overflow: auto; justify-content: space-between;">

            <div class="center-items" (click)="status = 0;  getTransactions()">
              <div class="item-button" [ngClass]="{'is-activated ': status == 0 }">
                Por Aprobar {{counts_tabs?.for_approve}}
              </div>
            </div>

            <div class="center-items" (click)="status = 1 ;  getTransactions()">
              <div class="item-button" [ngClass]="{'is-activated ': status == 1}">
                Cotizadas {{counts_tabs?.quoted}}
              </div>
            </div>

            <div class="center-items" (click)="status = 2;  getTransactions()">
              <div class="item-button" [ngClass]="{'is-activated ':status == 2}">
                En proceso de pago {{counts_tabs?.in_payment}}
              </div>
            </div>

            <div class="center-items" (click)="status = 3;  getTransactions()">
              <div class="item-button" [ngClass]="{'is-activated ': status == 3 }">
                Registrar Compra {{counts_tabs?.register_purchase}}
              </div>
            </div>

            <div class="center-items" (click)="status = 4;  getTransactions()">
              <div class="item-button" [ngClass]="{'is-activated ': status == 4}">
                Ingresar Producto {{counts_tabs?.enter_product}}
              </div>
            </div>

            <div class="center-items" (click)="status = 5;  getTransactions()">
              <div class="item-button" [ngClass]="{ 'is-activated ': status == 5 }">
                Finalizada {{counts_tabs?.finished}}
              </div>
            </div>

            <div class="center-items" (click)="status = 6;  getTransactions()"
              [ngClass]="{'is-activated ': status == 6}">
              <div class="item-button">
                Canceladas {{counts_tabs?.canceled}}
              </div>
            </div>

            <div class="center-items" (click)="status = 7;  getTransactions()"
              [ngClass]="{'is-activated ': status == 7}">
              <div class="item-button">
                Vencidas {{counts_tabs?.expired}}
              </div>
            </div>

          </div>

          <hr>

          <div class="text-center" *ngIf="isLoading">
            <div class="spinner-border" role="status">
              <span class="sr-only">Cargando...</span>
            </div>
          </div>

          <div class="container-table" [ngClass]="{ 'hide-table' : isLoading }">

            <app-transaction class="mt-1" [transactions]="transactions | filter:term" [status]="status"
              (refreshTable)="refreshTableReceive($event);" (filterValues)="getTransactions(null, $event)"
              *ngIf="showData">
            </app-transaction>

            <mat-paginator [length]="counts" [showFirstLastButtons]="true" [pageSizeOptions]="[10, 15, 20]"
              (page)="getTransactions($event)">
            </mat-paginator>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<ng-template #content role="document" let-modal>
  <app-create-order [trm]="trm" [users]="users" (close_modale)="modal.close('Close click');"
    (refreshTable)="refreshTableReceive($event);"></app-create-order>
</ng-template>