<div class="modal-header">
  <h5 class="modal-title mt-0">Seguimiento de Envio | # {{shippingTracking.id}}</h5>
  <button type="button" class="btn-close" (click)="closeModale()" aria-hidden="true"></button>
</div>

<div class="modal-body">

  <ng-container *ngIf="isLoadingData">
    Estamos obteniendo la información del envío...
  </ng-container>

  <div class="d-flex">

    <div class="count">

      <ul class="events">
        <li *ngFor="let status of shippingTracking.conveyor_status | sortDate:'date'">
          <time>{{status.date}}</time>
          <span><strong>{{status.location}}</strong>{{status.status}}</span>
        </li>
      </ul>

    </div>

    <div>
      <img src="assets/mesa_trabajo.png" alt="" draggable="false" style="object-fit: cover; width: 100%;">
    </div>

  </div>

</div>

<div class="modal-footer">

  <button class="btn btn-secondary" (click)="closeModale()">
    Cancelar
  </button>

  <ng-container>
    <button class="btn btn-primary" [disabled]="isLoading" (click)="isDelivered()">
      Entregado
    </button>
  </ng-container>

</div>