<div class="table-responsive mb-0">
  <div class="alert alert-primary" role="alert" *ngIf="lockers && lockers.length === 0">
    No hay datos disponibles...
  </div>

  <table class="table table-centered table-nowrap">
    <thead class="table-light">
      <tr>
        <th>
          Número de Guía
          <div class="mt-2">
            <input type="" [formControl]="filterGuide" class="form-control" (blur)="getAllLockers()" />
          </div>
        </th>
        <th class="align-middle">
          Nombre de Producto
          <div class="mt-2">
            <input type="text" class="form-control" [formControl]="filterProduct" (blur)="getAllLockers()" />
          </div>
        </th>
        <th class="align-middle">
          Casillero
          <input type="text" id="user_id" class="form-control mt-2" autocomplete="off"
            placeholder="Selecciona el usuario" [formControl]="filterUserLocker" 
            [matAutocomplete]="auto_user" />

          <mat-autocomplete #auto_user="matAutocomplete" [displayWith]="displayFnUserName">
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user" (click)="getAllLockers()">
              CA{{ user.locker_id }} | {{ user.name }} {{ user.last_name }}
            </mat-option>
          </mat-autocomplete>
        </th>
        <th class="align-middle">
          Estado
          <select class="form-select mt-2" aria-label="Default select example" [formControl]="filterStatus"
            (change)="getAllLockers()">
            <option selected>Seleccióne un Estado</option>
            <option value="0">En Casillero</option>
            <option value="1">Consolidacion</option>
          </select>
        </th>
        <th class="align-middle">Peso</th>
        <th class="align-middle">Opciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let data of lockers">
        <td>
          {{ data.guide_number ? data.guide_number : "" }}
        </td>

        <td title="{{ data.product_name ? data.product_name : '' }}">
          {{
            data.product_name
              ? data.product_name.length > 50
                ? (data.product_name | slice: 0:50) + "..."
                : data.product_name
              : ""
          }}
        </td>

        <td>
          {{
            (data.locker_id ? "CA" + data.locker_id : "") +
              " " +
              data.user_name 
          }}
        </td>

        <td>{{ (data.status == '1') ? 'CONSOLIDACION' : 'EN CASILLERO' }}</td>

        <td>{{ data.weight ? data.weight + " lb" : 0 }}</td>

        <td>
          <button class="btn btn-primary btn-sm btn-rounded" (click)="viewDetail(data, modalLocker, 'xl')">
            Editar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #modalLocker role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Producto #{{ lockerSelected.product.id }}</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    <app-modal-edit-lockers [lockerSelected]="lockerSelected" (closeModalEditLockers)="closeModalEditLockers($event)"
      (cancelModalStatus)="cancelModalReceive($event)">
    </app-modal-edit-lockers>
  </div>
</ng-template>

<mat-paginator [length]="counts" [pageSizeOptions]="[10]" (page)="getAllLockers($event);">
</mat-paginator>
