<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Users Grid" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="d-flex">
      <button class="btn btn-success mb-2" (click)="openModal(content)">Crear Rol </button>
      <button class="btn btn-success mb-2" style="margin-left: 10px;" (click)="openModal(content_permission)">Crear
        Permiso </button>

    </div>

    <div class="col-xl-3 col-sm-6 mt-4" *ngFor="let data of rolesTable">
      <div class="card text-center">
        <div class="card-body">
          <div class="avatar-sm mx-auto mb-4" *ngIf="!data.image">
            <span class="avatar-title rounded-circle bg-soft bg-primary text-primary font-size-16">
              {{data.name.charAt(0)}}
            </span>
          </div>
          <div *ngIf="data.image" class="mb-4">
            <img class="rounded-circle avatar-sm" src="{{data.image}}" alt />
          </div>
          <h5 class="font-size-15 mb-1"><a href="javascript: void(0);" class="text-dark">{{data.name}}</a></h5>
          <p class="text-muted">{{data.description}}</p>
          <div>
            <!-- <a href="javascript: void(0);" class="badge bg-primary font-size-11 m-1" *ngFor="let item of data.permissions">{{item.description}}</a> -->
          </div>
        </div>
        <div class="card-footer bg-transparent border-top">
          <div class="contact-links d-flex font-size-20">
            <div class="flex-fill">
              <a href="javascript: void(0);" (click)="openModal(content,data)" ngbTooltip="Editar"><i
                  class="bx bxs-edit-alt"></i></a>
            </div>
            <div class="flex-fill">
              <a href="javascript: void(0);" ngbTooltip="Permisos"
                (click)="openRolePermissionModale(roles_permissions,data)"><i class="bx bx-add-to-queue"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-12">
      <div class="text-center my-3">
        <!-- <a href="javascript:void(0);" class="text-success"><i class="bx bx-hourglass bx-spin mr-2"></i> Load more </a> -->
      </div>
    </div> <!-- end col-->
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->







<!-- Modal create and update rol -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0" *ngIf="!editRol">Crear Rol</h5>
    <h5 class="modal-title mt-0" *ngIf="editRol">Actualizar Rol</h5>

    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body ">
    <form (ngSubmit)="saveRol()" [formGroup]="rolForm">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Nombre</label>
            <input class="form-control" placeholder="Nombre" type="text" name="name" formControlName="name"
              autocomplete="off" [ngClass]="{'is-invalid': submitted && form.name.errors}" autocomplete="off" />
            <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
              <span *ngIf="form.name.errors.required">Nombre es requerido.</span>
            </div>
          </div>

          <div class="mb-3">
            <label class="control-label">Descripción</label>
            <input class="form-control" placeholder="Descripción" type="text" name="description"
              formControlName="description" [ngClass]="{'is-invalid': submitted && form.description.errors}" />
            <div *ngIf="submitted && form.description.errors" class="invalid-feedback">
              <span *ngIf="form.description.errors.required">Descripcion es requerida.</span>
            </div>
          </div>
        </div>
      </div>
      <button *ngIf="!editRol" type="submit" class="btn btn-success" id="btn-save-event">
        Crear Rol
      </button>
      <button *ngIf="editRol" type="submit" class="btn btn-success" id="btn-save-event">
        Actualizar Rol
      </button>
    </form>
  </div>
</ng-template>
<!-- Modal create rol -->
<ng-template #content_permission role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Crear permiso</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body ">
    <form (ngSubmit)="savePermisson()" [formGroup]="permisionForm">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Valor</label>
            <input class="form-control" placeholder="Nombre" type="text" name="value" formControlName="value"
              autocomplete="off" [ngClass]="{'is-invalid': submitted && form.name.errors}" autocomplete="off" />
            <div *ngIf="submitted && form.value.errors" class="invalid-feedback">
              <span *ngIf="form.value.errors.required">Valor requerido</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="control-label">Descripción</label>
            <input class="form-control" placeholder="Descripción" type="text" name="description"
              formControlName="description" [ngClass]="{'is-invalid': submitted && form.description.errors}" />
            <div *ngIf="submitted && form.description.errors" class="invalid-feedback">
              <span *ngIf="form.description.errors.required">Descripcion es requerida.</span>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" id="btn-save-event">
        Crear Permiso
      </button>
    </form>
  </div>
</ng-template>

<!-- modale add permissions to rol -->
<ng-template #roles_permissions role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Permisos del Rol</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <h5>Permisos</h5>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of permissionsRole ;let i = index">{{item.value}}
              <a href="javascript: void(0);" ngbTooltip="agregar a rol"(click)="addPermisionToRole(item,i)"><i class="bx bx-label"></i></a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h5>Permisos del rol</h5>
          <ul class="list-group">
            <li class="list-group-item" ngbTooltip="eliminar permiso"
              *ngFor="let item of roleSelected.permissions; let i =index" >
              {{item.value}}
              <a href="javascript: void(0);" (click)="deletePermission(item,i)" ><i class="bx bx-trash-alt"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template>
