<div class="modal-header ">
  <h5 class="modal-title mt-0">Detalles de la Orden</h5>
  <button type="button" class="btn-close" aria-hidden="true" (click)="modalService.dismissAll()"></button>
</div>

<div class="modal-body">

  <div class="container">

    <div class="row">

      <div class="col-7">

        <div class="h4">
          # 000{{orderSelected?.id}}
        </div>

        <div class="h5">
          {{orderSelected?.created_at | date }}
        </div>
        <div class="h5">
          TRM cotización: {{ trm.value }}
        </div>
      </div>

      <div class="col-5 d-flex justify-content-center align-items-center">

        <div class="row mt-2">

          <div class="container-calculator" *ngIf="!isLoadingFormula">

            Calculadora de Totales

            <div>
              <strong>Valor artículos:</strong>
              {{ (orderSelected.total_value ? orderSelected.total_value : 0) | currency: 'USD' }} USD
            </div>

            <div>
              <strong>Total de Libras:</strong>
              {{ orderSelected.total_weight ? orderSelected.total_weight: 0 }} lb.
            </div>

            <ng-container *ngFor="let formula of orderSelected.shipping_value_admin">
              <div>
                <strong>Valor del envío ({{formula.name}}): </strong>
                {{ (formula.value ? formula.value : 0) | number : '1.2-2' }} USD
              </div>
              <div>
                <strong>Envio a casa ({{formula.name}})</strong>
                {{ (orderSelected.total_value ? orderSelected.total_value : 0) +
                (formula.value ? formula.value : 0) |
                number : '1.2-2' }}
                USD
              </div>
            </ng-container>

            <ng-container *ngIf="orderSelected.total_permanent_shipping_value">

              <div>
                <strong>Valor del Envio:</strong>
                {{ (orderSelected.total_permanent_shipping_value ? orderSelected.total_permanent_shipping_value : 0 ) |
                number : '1.2-2' }}
                USD
              </div>
            </ng-container>

          </div>

          <div class="loading-calulator" *ngIf="isLoadingFormula">

            <div class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
            Estamos calculando el valor de envío...
          </div>

        </div>

      </div>

    </div>

  </div>

  <hr>

  <div class="table-responsive">

    <div class="container" *ngFor="let item of orderSelected.products; let i = index;">

      <div class="row">

        <div class="col-3 d-flex justify-content-center">
          <div class="edit-image">
            <a (click)="openModal(item,createImage,'md ')"><i class="far fa-edit"></i></a>
          </div>
          <div>
            <img [src]="item.image" (error)="$event.target.src = 'assets/images/default.jpg'" class="avatar"
              style="object-fit: contain;" />
          </div>
        </div>
        <div class="col-4">

          <div>
            <a [href]="item.link" target="blank">
              <h5 class="text-truncate h5">{{ item.name }}</h5>
            </a>
          </div>

          <div>
            {{ item.description }}
          </div>

          <div class="mt-2">
            {{ item.aditional_info }}
          </div>

          <div class="form-group mt-2 h5">
            <label for="exampleFormControlTextarea1">Observaciones de Cotización</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" cols="30" rows="5"
              [(ngModel)]="item.aditional_info" [disabled]="disabledAllInputs"
              placeholder="Escribenos la información adicional de producto como talla, color, etc.">
            </textarea>
          </div>

          <div class="form-group mt-2 h5">
            <label for="exampleFormControlTextarea1">Observaciones del cliente</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" cols="30" rows="5"
              [(ngModel)]="item.description" [disabled]="disabledAllInputs"
              placeholder="Escribenos la información adicional de producto como talla, color, etc.">
            </textarea>
          </div>

          <div class="mt-2 h5 d-flex">
            <div class="mx-2" *ngIf="item.quantity > 1">
              <a (click)=" item.quantity = item.quantity - 1 ">
                <i class="fas fa-minus"></i>
              </a>
            </div>
            <div class="item-quantity">
              Cantidad: {{ item.quantity }}
            </div>
            <div class="mx-2">
              <a (click)="item.quantity = item.quantity +  1 ">
                <i class="fas fa-plus"></i>
              </a>
            </div>

          </div>

        </div>

        <div class="col-5">

          <div class="row">

            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-truncate h5">Valor Articulo (USD) *</label>
                <input type="number" class="form-control" placeholder="Valor en USD" [(ngModel)]="item.product_value"
                  (keypress)="numberOnly($event);" (blur)="getFormula(i);"
                  [disabled]="item.free_shipping || disabledAllInputs">
              </div>
            </div>

            <div class="col-3">
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-truncate h5">Desc. (%)</label>
                <input type="number" class="form-control" placeholder="% descuento" [(ngModel)]="item.discount"
                  (keypress)="numberOnly($event);" (change)="calculateDiscount(i);"
                  [disabled]="item.free_shipping || disabledAllInputs">
              </div>
            </div>

            <div class="col-3">

              <div class="form-group">
                <label for="exampleInputEmail1" class="text-truncate h5">Tax</label>
                <div>
                  <input type="number" class="form-control" placeholder="Tax" [ngModel]="item.tax | number: '1.2-2'"
                    (ngModelChange)="item.tax = $event" min="0" (keypress)="numberOnly($event);"
                    (change)="calculateTaxManually(i);" [disabled]="item.free_shipping || disabledAllInputs">

                  <br>

                  <div class="container-calcs">
                    <i class="fas fa-calculator" [ngClass]="{ 'selected-tax': item.selected_tax === '1' }"
                      (click)="changeCalculator('1', i);">
                    </i>
                    <i class="fas fa-calculator" style="margin-left: 10px;"
                      [ngClass]="{ 'selected-tax': item.selected_tax === '2' }" (click)="changeCalculator('2', i);"></i>
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="form-group col-12">
              <label for="exampleInputEmail1" class="text-truncate h5">Envio Origen</label>
              <input type="number" class="form-control" placeholder="Envio origen"
                [(ngModel)]="item.shipping_origin_value_product" (keypress)="numberOnly($event);"
                (blur)="getFormula(i);" [disabled]="item.free_shipping || disabledAllInputs">
            </div>
          </div>

          <div class="row mt-4">

            <div class="col-6">
              <label for="form-group exampleInputEmail1" class="text-truncate h5">Peso(Libras) *</label>
              <input type="number" class="form-control" placeholder="Peso en libras" [(ngModel)]="item.weight"
                (keypress)="numberOnly($event);" (blur)="getFormula(i);"
                [disabled]="item.free_shipping || disabledAllInputs">
            </div>

            <div class="col-6">
              <label for="form-group exampleInputEmail1" class="text-truncate h5">Valor Envio fijo </label>
              <input type="number" class="form-control" placeholder="Valor envio fijo"
                [(ngModel)]="item.permanent_shipping_value" (keypress)="numberOnly($event);"
                (blur)="setPermanentShipping(i);" [disabled]="item.free_shipping || disabledAllInputs">
            </div>

          </div>

          <div class="row mt-4">

            <div class="col-6 text-truncate h5">
              Sub Total: {{ (item.sub_total ? item.sub_total : 0) | currency: 'USD' }}
            </div>

            <div class="col-6">

              <div class="form-check form-switch text-truncate h5">
                <label for="form-group">Envio Gratis</label>

                <input class="form-check-input" type="checkbox" (change)="getFormula(i);" id="flexSwitchCheckChecked"
                  [(ngModel)]="item.free_shipping" [disabled]="disabledAllInputs">
              </div>

            </div>

          </div>

        </div>

      </div>

      <hr>

    </div>

  </div>

</div>

<div class="modal-footer">

  <button class="btn btn-secondary" [disabled]="isLoading" (click)="modalService.dismissAll()">
    Cancelar
  </button>

  <ng-container *ngIf="status == 0 || status == 1">

    <button class="btn btn-primary" (click)="sendQuotation();" [disabled]="isLoading">

      <ng-container *ngIf="isLoading">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Cargando...
      </ng-container>

      <ng-container *ngIf="!isLoading">
        Guardar
      </ng-container>

    </button>

  </ng-container>

</div>
<ng-template #createImage role="document" let-modal>
  <app-create-image [product]="productSelected" (close)="modal.close()"
    (imageUpdated)="upadteImageByProduct($event);modal.close()"></app-create-image>
</ng-template>