<div class="modal-header ">
  <h5 class="modal-title mt-0">Detalles de la Orden</h5>
  <button type="button" class="btn-close" aria-hidden="true" (click)="modalService.dismissAll()"></button>
</div>

<div class="modal-body">

  <div class="container">

    <div class="row">

      <div class="col-7">

        <div class="h4">
          #000{{orderSelected?.id}}
        </div>
        <div class="h5">
          {{ (orderSelected?.user.name + ' ' + orderSelected?.user.last_name) || 'Encargomio' }}
        </div>
        <div class="h5">
          {{orderSelected?.created_at | date }}
        </div>
        <div class="h5">
          TRM cotización:
          {{ (orderSelected ? orderSelected.trm.value : 0) | currency: 'COP' : 'symbol' : '1.0-0' }}
        </div>

        <br>
        <ng-container *ngIf="orderSelected">
          <div class="form-check form-switch text-truncate h5">
            <label for="form-group">Compra anticipada</label>
            <input id="flexSwitchCheckChecked" class="form-check-input" type="checkbox" disabled
              [checked]="orderSelected.advance_purchase">
          </div>
        </ng-container>

      </div>

      <div class="col-5 d-flex justify-content-center align-items-center">

        <div class="row mt-2">

          <div class="container-calculator" *ngIf="!isLoadingFormula">

            <div class="h4">
              Calculadora de Totales
            </div>

            <div>
              <strong>Valor artículos:</strong>
              {{ (orderSelected.sub_total ? orderSelected.sub_total : 0) | currency: 'USD' }} USD
            </div>

            <div>
              <strong>Total de Libras:</strong>
              {{ orderSelected.total_weight ? orderSelected.total_weight: 0 }} lb.
            </div>

            <ng-container *ngFor="let formula of orderSelected.shipping_value_admin">
              <div>
                <strong>Valor del envío ({{formula.name}}): </strong>
                {{ (formula.value ? formula.value : 0) | number : '1.2-2' }} USD
              </div>
              <div>
                <strong>Envio a casa ({{formula.name}})</strong>
                {{ (orderSelected.sub_total ? orderSelected.sub_total : 0) +
                (formula.value ? formula.value : 0) |
                number : '1.2-2' }}
                USD
              </div>
            </ng-container>

          </div>

          <div class="loading-calulator" *ngIf="isLoadingFormula">

            <div class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
            Estamos calculando el valor de envío...
          </div>

        </div>

      </div>

    </div>

  </div>

  <hr>

  <div class="d-flex justify-content-center" *ngIf="isLoadingQuery">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="table-responsive">

    <div class="container" *ngFor="let item of orderSelected.products; let i = index;">

      <div class="row">

        <div class="col-3 d-flex justify-content-center">

          <div class="edit-image" *ngIf="status == 0 || status == 1 || status == 2">
            <a (click)="openModal(item,createImage,'md ')">
              <i class="far fa-edit"></i>
            </a>
          </div>

          <div>
            <a [href]="item.link" target="_blank">
              <img [src]="item.image" (error)="$event.target.src = 'assets/images/default.jpg'" class="avatar"
                style="object-fit: contain;" />
            </a>
          </div>

        </div>

        <div class="col-4">

          <div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-truncate h5">Nombre * </label>
              <input type="text" class="form-control" placeholder="escribe el nombre del producto"
                [(ngModel)]="item.name" [disabled]="disabledAllInputs">
            </div>
          </div>

          <div class="mt-2">
            {{ item.aditional_info }}
          </div>

          <div class="form-group mt-2 h5">
            <label for="exampleFormControlTextarea1">Observaciones de Cotización</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" cols="30" rows="5"
              [(ngModel)]="item.aditional_info" [disabled]="disabledAllInputs"
              placeholder="Escribenos la información adicional de producto como talla, color, etc.">
            </textarea>
          </div>

          <div class="form-group mt-2 h5">
            <label for="exampleFormControlTextarea1">Observaciones del cliente</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" cols="30" rows="5"
              [(ngModel)]="item.description" [disabled]="disabledAllInputs"
              placeholder="Escribenos la información adicional de producto como talla, color, etc.">
            </textarea>
          </div>

          <div class="mt-2 h5 d-flex">

            <ng-container *ngIf="status === 0 || status === 1">
              <div class="mx-2" *ngIf="orderSelected.products.length > 1">
                <a (click)="deleteProduct(i);">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </ng-container>

            <ng-container *ngIf="status == 0 || status == 1">
              <div class="mx-2" *ngIf="item.quantity > 1">
                <a (click)="calculateWeightSubstract(i); getFormula(i);">
                  <i class="fas fa-minus"></i>
                </a>
              </div>
            </ng-container>

            <div class="item-quantity">
              Cantidad: {{ item.quantity }}
            </div>

            <div class="mx-2" *ngIf="status == 0 || status == 1">
              <a (click)="calculateWeightAdd(i); getFormula(i);">
                <i class="fas fa-plus"></i>
              </a>
            </div>

          </div>

        </div>

        <div class="col-5">

          <div class="row">

            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-truncate h5">Valor Articulo (USD) *</label>
                <input type="number" class="form-control" placeholder="Valor en USD" [(ngModel)]="item.product_value"
                  (keypress)="numberOnly($event);" (blur)="getFormula(i);"
                  [disabled]="item.free_shipping || disabledAllInputs">
              </div>
            </div>

            <div class="col-3">
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-truncate h5">Desc. (%)</label>
                <input type="number" class="form-control" placeholder="% descuento" [(ngModel)]="item.discount"
                  (keypress)="numberOnly($event);" (change)="calculateDiscount(i);"
                  [disabled]="item.free_shipping || disabledAllInputs">
              </div>
            </div>

            <div class="col-3">

              <div class="form-group">
                <label for="exampleInputEmail1" class="text-truncate h5">Tax</label>
                <div>
                  <input type="number" class="form-control" placeholder="Tax" [(ngModel)]="item.tax"
                    (ngModelChange)="item.tax = $event" min="0" (keypress)="numberOnly($event);"
                    (change)="calculateTaxManually(i);" [disabled]="item.free_shipping || disabledAllInputs">
                  <br>

                  <div class="container-calcs">

                    <i class="fas fa-calculator" [ngClass]="{ 'selected-tax': item.selected_tax === '1' }"
                      (click)="changeCalculator('1', i);" title="Sin envío Origen">
                    </i>

                    <i class="fas fa-calculator" style="margin-left: 10px;"
                      [ngClass]="{ 'selected-tax': item.selected_tax === '2' }" (click)="changeCalculator('2', i);"
                      title="Con envío Origen">
                    </i>

                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="form-group col-12">
              <label for="exampleInputEmail1" class="text-truncate h5">Envio Origen</label>
              <input type="number" class="form-control" placeholder="Envio origen"
                [(ngModel)]="item.shipping_origin_value_product" (keypress)="numberOnly($event);"
                (blur)="getFormula(i);" [disabled]="item.free_shipping || disabledAllInputs">
            </div>
          </div>

          <div class="row mt-4">

            <div class="col-6">
              <label for="form-group exampleInputEmail1" class="text-truncate h5">Peso(Libras) *</label>
              <input type="number" class="form-control" placeholder="Peso en libras" [(ngModel)]="item.weight"
                (keypress)="numberOnly($event);" (blur)="getFormula(i);"
                [disabled]="item.free_shipping || disabledAllInputs">
            </div>

            <div class="col-6">
              <label for="form-group exampleInputEmail1" class="text-truncate h5">Valor Envio fijo </label>
              <input type="number" class="form-control" placeholder="Valor envio fijo"
                [(ngModel)]="item.permanent_shipping_value" (keypress)="numberOnly($event);"
                (blur)="setPermanentShipping(i);" [disabled]="item.free_shipping || disabledAllInputs">
            </div>

          </div>

          <div class="row mt-4">

            <div class="col-6 text-truncate h5">
              Sub Total: {{ (item.sub_total ? item.sub_total : 0) | currency: 'USD' }}
            </div>

            <div class="col-6">

              <div class="form-check form-switch text-truncate h5">
                <label for="form-group">Envio Gratis</label>

                <input class="form-check-input" type="checkbox" (change)="getFormula(i);" id="flexSwitchCheckChecked"
                  [(ngModel)]="item.free_shipping" [disabled]="disabledAllInputs">
              </div>

            </div>

          </div>

        </div>

      </div>

      <hr>

    </div>

  </div>

</div>

<div class="modal-footer">

  <button class="btn btn-secondary" [disabled]="isLoading || isLoadingQuery" (click)="modalService.dismissAll()">
    Cancelar
  </button>

  <ng-container *ngIf="status == 0 || status == 1">

    <button class="btn btn-primary" (click)="sendQuotation();" [disabled]="isLoading || isLoadingQuery">

      <ng-container *ngIf="isLoading">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Cargando...
      </ng-container>

      <ng-container *ngIf="!isLoading">
        Guardar
      </ng-container>

    </button>

  </ng-container>

  <ng-container *ngIf="status == 7">
    <button class="btn btn-primary" (click)="sendQuotation();" [disabled]="isLoading || isLoadingQuery">

      <ng-container *ngIf="isLoading">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Cargando...
      </ng-container>

      <ng-container *ngIf="!isLoading">
        Cambiar a cotizada
      </ng-container>

    </button>
  </ng-container>

</div>

<ng-template #createImage role="document" let-modal>
  <!--[product]  ANEXAMOS PRODUCTO SELECCIONADO -->
  <!-- (close) CERRAMOS EL MODALE CUANDO LO QUEIRAN CERRAR -->
  <!--  (imageUpdated) SELECCIONAMOS EL METODO DE ACTUALIZAR IMAGEN DEL PRODUCTO SELECCIONADO-->
  <app-create-image [product]="productSelected" (close)="modal.close()"
    (imageUpdated)="upadteImageByProduct($event); modal.close()"></app-create-image>
</ng-template>