.fas {
  cursor: pointer;
}

.avatar {
  width: 10rem;
  height: 10rem;
}

.c-gray {
  color: #adadad !important;
}

.container-calculator {
  font-size: 15px;
}

.container-calcs {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  cursor: pointer;
}

.container-tax {
  display: flex;
  justify-content: space-evenly;
}

.selected-tax {
  color: #ef8921;
}

.dropzone-in-create {
  text-align: center;
  border-style: dashed;
  background: white !important;
  border-radius: 16px;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.container-img-dropzone {
  img {
    height: 170px;
    width: 100%;
    object-fit: contain;
  }
}

.invalid-feedback {
  display: block !important;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #f46a6a;
}

.remove-image {
  position: absolute;
  top: 5px;
  background-color: #ff0000a8;
  left: 4px;
  padding: 3px;
  border-radius: 20px;
  color: white;
  z-index: 1;
  cursor: pointer;
}

.relative-position {
  position: relative;
  margin: 10px;
}

.is-hovered {
  cursor: pointer;
}
