<div class="container-fluid">
  <app-page-title title="Cupones"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">

                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" class="btn btn-success btn-rounded mb-2 me-2"
                  (click)="openModal(createCupon,'md')"><i class="mdi mdi-plus mr-1"></i>
                  Crear Cupon</button>
              </div><!-- end col-->
            </div><!-- end col-->
          </div>

          <!-- Table data -->
          <hr>
          <app-table-cupons class="mt-1" [cupons]="cupons"
            (selectCuponEmit)="cuponSelected=$event;openModal(updateCupon,'md') "></app-table-cupons>
          <!-- <mat-paginator [length]="counts" [pageSizeOptions]="[10]" (page)="$event">
          </mat-paginator> -->
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #createCupon role="document" let-modal>
  <app-create-cupons (searchTransactions)="getCupons()">
  </app-create-cupons>
</ng-template>

<ng-template #updateCupon role="document" let-modal>
  <app-update-cupon (searchTransactions)="getCupons()" [cuponSelected]="cuponSelected">
  </app-update-cupon>
</ng-template>
