<form [formGroup]="editUserForm">
  <div class="modal-header">
    <h5 class="modal-title mt-0">Editar Usuario</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="close_modale.emit(true)"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="mb-3 row">
              <label for="name" class="col-md-2 col-form-label">Nombre</label>
              <div class="col-md-10">
                <input class="form-control" type="text" id="name" formControlName="name">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="last_name" class="col-md-2 col-form-label">Apellido</label>
              <div class="col-md-10">
                <input class="form-control" type="search" id="last_name" formControlName="last_name">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="email" class="col-md-2 col-form-label">Email</label>
              <div class="col-md-10">
                <input class="form-control" type="email" id="email" formControlName="email">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="phone" class="col-md-2 col-form-label">Telefono</label>
              <div class="col-md-10">
                <input class="form-control" type="text" id="phone" formControlName="phone">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="identification" class="col-md-2 col-form-label">No Identificación</label>
              <div class="col-md-10">
                <input class="form-control" type="text" id="identification" formControlName="number_identification">
              </div>
            </div>

            <!-- <div class="mb-3 row">
              <label class="col-md-2 col-form-label">Role</label>
              <div class="col-md-10">
                <select class="form-select" formControlName="role">
                  <option disabled>Seleccione un rol</option>
                  <option *ngFor="let role of roles" value="{{role}}">{{role.name}}</option>
                </select>
              </div>
            </div> -->
            <!-- <div class="mb-3 row">
              <label for="example-url-input" class="col-md-2 col-form-label">URL</label>
              <div class="col-md-10">
                <input class="form-control" type="url" value="https://getbootstrap.com" id="example-url-input">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-tel-input" class="col-md-2 col-form-label">Telephone</label>
              <div class="col-md-10">
                <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-password-input" class="col-md-2 col-form-label">Password</label>
              <div class="col-md-10">
                <input class="form-control" type="password" value="hunter2" id="example-password-input">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-number-input" class="col-md-2 col-form-label">Number</label>
              <div class="col-md-10">
                <input class="form-control" type="number" value="42" id="example-number-input">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-datetime-local-input" class="col-md-2 col-form-label">Date and time</label>
              <div class="col-md-10">
                <input class="form-control" type="datetime-local" value="2019-08-19T13:45:00"
                  id="example-datetime-local-input">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-date-input" class="col-md-2 col-form-label">Date</label>
              <div class="col-md-10">
                <input class="form-control" type="date" value="2019-08-19" id="example-date-input">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-month-input" class="col-md-2 col-form-label">Month</label>
              <div class="col-md-10">
                <input class="form-control" type="month" value="2019-08" id="example-month-input">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-week-input" class="col-md-2 col-form-label">Week</label>
              <div class="col-md-10">
                <input class="form-control" type="week" value="2019-W33" id="example-week-input">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-time-input" class="col-md-2 col-form-label">Time</label>
              <div class="col-md-10">
                <input class="form-control" type="time" value="13:45:00" id="example-time-input">
              </div>
            </div>
            <div class="mb-3 row">
              <label for="example-color-input" class="col-md-2 col-form-label">Color</label>
              <div class="col-md-10">
                <input class="form-control form-control-color mw-100" type="color" value="#556ee6"
                  id="example-color-input">
              </div>
            </div>
            <div class="mb-3 row">
              <label class="col-md-2 col-form-label">Select</label>
              <div class="col-md-10">
                <select class="form-select">
                  <option>Select</option>
                  <option>Large select</option>
                  <option>Small select</option>
                </select>
              </div>
            </div>
            <div class="row">
              <label for="exampleDataList" class="col-md-2 col-form-label">Datalists</label>
              <div class="col-md-10">
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                <datalist id="datalistOptions">
                  <option value="San Francisco">
                  <option value="New York">
                  <option value="Seattle">
                  <option value="Los Angeles">
                  <option value="Chicago">
                </datalist>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="close_modale.emit()">
      Cancelar
    </button>
    <button class="btn btn-primary" (click)="updateUser()">Actualizar</button>
  </div>
</form>
