.form-flex {
    display: flex;
    input {
        margin-bottom: 10px;
    }
    .margin-left-10 {
        margin-left: 10px;
    }
}

.container-buttons {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.container-imagen {
    text-align: center;
    div {
        font-weight: 500;
        margin-top: 20px;
    }
    img {
        height: 200px;
    }
}

.dropzone-in-create {
    text-align: center;
    border-style: dashed;
    background: white !important;
    border-radius: 16px;
    padding: 20px;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}

.container-img-dropzone {
    img {
        height: 170px;
        width: 100%;
        object-fit: contain;
    }
}
