.dropzone-in-create {
    text-align: center;
    border-style: dashed;
    border-radius: 16px;
    padding: 20px;
    justify-content: center;
    width: 100%;
    min-height: 300px;
}

.container-image {
    display: flex;
    img {
        height: 170px;
        object-fit: contain;
    }
}

.income-background {
    background-color: #fdefe5 !important;
    border-bottom: 3px solid #e96f16;
}

.editable-active {
    background-color: transparent;
}

.income-background,
.editable-active {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.income-color {
    h4,
    h5 {
        color: #e96f16 !important;
    }
}

.button-encargomio {
    background: #48c78e;
    color: white;
}

.button-add-new-item {
    background: white !important;
    color: black;
}

.button-encargomio,
.button-add-new-item {
    border: transparent;
    padding: 14px;
    border-radius: 7px;
    font-weight: bold;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.16);
}

.button-encargomio:disabled,
.button-add-new-item:disabled {
    background: lightgray;
    cursor: not-allowed;
}

.delete-item {
    text-decoration: underline !important;
    font-weight: bold;
    color: rgb(82, 82, 82);
    margin-right: 10px;
    cursor: pointer;
}

.container-final-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.is-dangered {
    color: #dc3545;
}

.col {
    .form-group {
        margin-bottom: 10px;
    }
}

.flex-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

a:hover {
    cursor: pointer;
}

.remove-image {
    position: absolute;
    top: 5px;
    background-color: #ff0000a8;
    left: 4px;
    padding: 3px;
    border-radius: 20px;
    color: white;
    z-index: 1;
    cursor: pointer;
}

.relative-position {
    position: relative;
}

.item-hover:hover {
    cursor: pointer;
}
