<div class="card">
  <div class="card-body">
    <div class="row px-3">
      <!-- creamos las columnas -->

      <div class="col-sm-6 col-12">
        <!-- CONTENEDOR DE INFORMACION DE ENVIO -->
        <div class="row">
          <div class="col-sm-12 col-12">
            <h5 class="h5 font-weight-bold"> Información de Envio</h5>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-6 col-6">
            <p class="font-weight-bold">Codigo</p>
          </div>
          <div class="col-sm-6 col-6">
            <p>Envío # {{shipping?.id}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-6">
            <p class="font-weight-bold">Valor Envío</p>
          </div>
          <div class="col-sm-6 col-6">
            <p>USD {{shipping?.total_value}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-6">
            <p class="font-weight-bold">Tipo de Envío</p>
          </div>
          <div class="col-sm-6 col-6">
            <p>{{shipping?.shipping_type?.name || '-' }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-6">
            <p class="font-weight-bold">Estado</p>
          </div>
          <div class="col-sm-6 col-6">
            <p>{{validateShippingstatus(shipping?.status)}}</p>
            <!-- pendi -->
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-12">
        <!-- CONTENEDOR DE DIRECCION DE DE ENVIO -->
        <div class="row">
          <div class="col-sm-12 col-6">
            <h5 class="h5 font-weight-bold">Dirección de Envío </h5>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-6 col-6">
            <p class="font-weight-bold">Nombre (Quien Recibe)</p>
          </div>
          <div class="col-sm-6 col-6">
            <p>{{shipping?.address?.name}}</p>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm-6 col-6">
            <p class="font-weight-bold">Dirección</p>
          </div>
          <div class="col-sm-6 col-6">
            <p>{{shipping?.address?.address ? (shipping?.address?.address + (shipping?.address?.description ?
              shipping?.address?.description : '')) : ''}}</p>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm-6 col-6">
            <p class="font-weight-bold">Ciudad</p>
          </div>
          <div class="col-sm-6 col-6">
            <p>{{shipping?.address.city?.name}}</p>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm-6 col-6">
            <p class="font-weight-bold">Departamento</p>
          </div>
          <div class="col-sm-6 col-6">
            <p>{{shipping?.address.department?.name}}</p>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm-6 col-6">
            <p class="font-weight-bold">Teléfono/Celular</p>
          </div>
          <div class="col-sm-6 col-6">
            <p>{{shipping?.address?.phone}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>