<div class="container-fluid">

    <app-page-title title="Casilleros"></app-page-title>

    <div class="row">

        <div class="col-12">

            <div class="card">

                <div class="card-body">

                    <div class="row mb-2">

                        <div class="col-sm-4">

                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input type="text" class="form-control" title="Buscar por número de Guía..."
                                        placeholder="Buscar por Guía..." [(ngModel)]="search"
                                        (blur)="onSearch();" [disabled]="isLoadInput">
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>

                            <!-- <div class="col-sm-8">

                                <div class="text-sm-end">

                                    <button type="button" class="btn btn-success btn-rounded mb-2 me-2">
                                        <i class="mdi mdi-plus mr-1"></i>
                                        Botón
                                    </button>

                                </div>

                            </div> -->

                        </div>

                    </div>

                    <div class="text-center" *ngIf="isLoading">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Cargando...</span>
                        </div>
                    </div>

                    <div class="container-table" [ngClass]="{ 'hide-table' : isLoading }">

                        <app-lockers-table class="mt-1" [lockers]="lockers"
                            (refreshTable)="refreshTableReceive($event);">
                        </app-lockers-table>

                        <mat-paginator [length]="counts" [pageSizeOptions]="[10]" (page)="getAllLockers($event);">
                        </mat-paginator>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>