<div class="container-fluid">

  <app-page-title title="Productos en Casillero"></app-page-title>

  <div class="row">

    <div class="col-12">

      <div class="card">

        <div class="card-body">

          <div class="row mb-2">

            <div class="text-sm-end">

              <button type="button" class="btn btn-danger btn-rounded mb-2 me-2" (click)="resetFilters()">
                <i class="bx bx-trash-alt mr-1"></i>
                Eliminar Filtros
              </button>

              <!-- <button type="button" class="btn btn-info btn-rounded mb-2 me-2" (click)="openModal(modal_locker_entry)">
                <i class="mdi mdi-plus mr-1"></i>
                Ingreso a Casillero
              </button> -->

            </div>

          </div>

          <!-- <div class="text-center" *ngIf="isLoading">
            <div class="spinner-border" role="status">
              <span class="sr-only">Cargando...</span>
            </div>
          </div> -->

          <div class="container-table" [ngClass]="{ 'hide-table' : isLoading }">

            <app-lockers-table class="mt-1" *ngIf="showData" [refreshTableStatus]="refreshTable">
            </app-lockers-table>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<!-- <ng-template #modal_locker_entry role="document" let-modal>
  <app-modal-locker-entry (refreshTable)="refreshTableReceive($event);"></app-modal-locker-entry>
</ng-template> -->