<div class="container-fluid">
  <app-page-title title="Envios"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" class="btn btn-success btn-rounded mb-2 me-2"><i
                    class="mdi mdi-plus mr-1"></i>
                  Crear un Envío</button>
              </div><!-- end col-->
            </div><!-- end col-->
          </div>
          <!-- Table data -->
          <hr>
          <app-transaction class="mt-1" [transactions]="transactions |  filter:term"></app-transaction>
          <mat-paginator [length]="counts" [pageSizeOptions]="[10]" (page)="getTransactions($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #createModale role="document" let-modal>
  <app-modal-create-shipping></app-modal-create-shipping>
</ng-template>
