<div class="container-fluid">

  <app-page-title title="Envios"></app-page-title>

  <div class="row">

    <div class="col-12">

      <div class="card">

        <div class="card-body">

          <div class="row mb-2">

            <div class="col-sm-4">

              <div class="search-box me-2 mb-2 d-inline-block" style="width:100%">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Busca por producto o guia..." [(ngModel)]="term">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>

            </div>

            <div class="col-sm-8">

              <div class="text-sm-end">

                <button *ngIf="!exportLoading" type="button" class="btn btn-primary btn-rounded mb-2 me-2"
                  (click)="export();">
                  <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                      style="fill: honeydew;">
                      <path
                        d="M18.948 11.112C18.511 7.67 15.563 5 12.004 5c-2.756 0-5.15 1.611-6.243 4.15-2.148.642-3.757 2.67-3.757 4.85 0 2.757 2.243 5 5 5h1v-2h-1c-1.654 0-3-1.346-3-3 0-1.404 1.199-2.757 2.673-3.016l.581-.102.192-.558C8.153 8.273 9.898 7 12.004 7c2.757 0 5 2.243 5 5v1h1c1.103 0 2 .897 2 2s-.897 2-2 2h-2v2h2c2.206 0 4-1.794 4-4a4.008 4.008 0 0 0-3.056-3.888z">
                      </path>
                      <path d="M13.004 14v-4h-2v4h-3l4 5 4-5z"></path>
                    </svg></i>
                  Excel
                </button>

                <button *ngIf="exportLoading" type="button" class="btn btn-primary btn-rounded mb-2 me-2">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <span class="sr-only">Loading...</span>
                </button>

                <button type="button" class="btn btn-danger btn-rounded mb-2 me-2" (click)="resetFilters();">
                  <i class="bx bx-trash-alt mr-1"></i>
                  Eliminar Filtros
                </button>

                <button type="button" class="btn btn-success btn-rounded mb-2 me-2"
                  (click)="openModal(createShipping,'xl')" [disabled]="!trm"><i class="mdi mdi-plus mr-1"></i>
                  Crear un Envío
                </button>

              </div>

            </div>

          </div>
          <!-- 0 Consolidación (Viene de ordenes de compra)
          1 Por empacar (En espera de que el administrador realice el envío) (INCLUIR BOTON DE EMPACADO)
          2 En generación de guía (Alistamiento o Por preparar)
          3 Enviado (La orden ha sido enviada y depende de la transportadora)
          -------------------- EN ESTE PUNTO RENDERIZAMOS ESTADOS DE LA TRANSPORTADORA--------
          4 Cancelado (La orden ha sido cancelada)
          5 Pago en revisión (El Pago esta pendiente)
          6 Fragmentado -->
          <ul class="nav nav-pills d-flex justify-content-center">

            <li *ngFor="let item of SHIPPING_STATUS" class="nav-item">
              <a class="nav-link" [ngClass]="{'active': status == item.status }"
                (click)="status = item.status; getTransactions()">
                {{ item.name }} {{ counts[item.english] ? counts[item.english] : 0 }}
              </a>
            </li>

          </ul>
          <!-- Table data -->

          <div class="d-flex justify-content-center mt-3" *ngIf="isLoading">
            <div class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
          </div>

          <hr>

          <app-shippings-table class="mt-1" [shippings]="shippings |  filter:term" [users]="users" [status]="status"
            (shippingSelected)="shippingToUpdate = $event; openModal(updateShipping,'xl')"
            (shippingTracking)="shippingTracking = $event; openModal(shipment_tracking,'xl')"
            (showChangeStatusModal)="showChangeStatusModal($event, update_status_modal);"
            (filterData)="shippingFilterReceive($event);" (defaultResetValues)="defaultResetValuesReceive($event);"
            [resetAllFilters]="resetAllFilters">
          </app-shippings-table>

          <mat-paginator [length]="count" [showFirstLastButtons]="true" [pageSizeOptions]="[10, 15, 20]"
            (page)="getTransactions($event)">
          </mat-paginator>

        </div>

      </div>

    </div>

  </div>

</div>

<ng-template #createShipping role="document" let-modal>
  <app-modal-create-shipping [users]="users" [trm]="trm" (getTransactions)="getTransactions(); getCountsTabs()">
  </app-modal-create-shipping>
</ng-template>


<ng-template #updateShipping role="document" let-modal>
  <app-modal-update-shipping [users]="users" [trm]="trm" [status]="status" [shippingToUpdate]="shippingToUpdate"
    (getTransactions)="getTransactions(); getCountsTabs()">
  </app-modal-update-shipping>
</ng-template>

<ng-template #update_status_modal role="document" let-modal>
  <app-edit-shipping-status [shipping]="shipping_status" (onClose)="getTransactions(); getCountsTabs();">
  </app-edit-shipping-status>
</ng-template>

<ng-template #shipment_tracking role="document" let-modal>
  <app-shipment-tracking [shipping_order]="shippingTracking" (refreshTable)="getTransactions(); getCountsTabs()">
  </app-shipment-tracking>
</ng-template>