<div class="container-fluid" *ngIf="user">
  <app-page-title
    title="Direcciones de {{ user?.name }} {{ user?.last_name }}"
  ></app-page-title>

  <div class="row flex-wrap justify-content-center">
    <div
      class="card card-cont p-3"
      *ngFor="let item of addressess"
      [ngClass]="{ 'is-main': item.is_main }"
    >
      <div class="address-body">
        <h4>{{ item.name }}</h4>
        <h5>{{ item.address }}</h5>
        <h5>{{ item.phone }}</h5>
        <h5>{{ item.city_name }}</h5>
        <h5>{{ item.description }}</h5>
      </div>
      <div class="d-flex justify-content-end">
        <button
          type="button"
          class="btn btn-primary"
          (click)="modalUpdateAddress(item)"
        >
          Editar
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!user" class="cont-not-address">Usuario sin direcciones</div>
