<!-- <div class="columns">
  <div class="column is-half">

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores tempora numquam cupiditate. Numquam unde modi aliquid voluptatum aliquam voluptates id aspernatur, quos consequatur, sed eius architecto dolorem? Blanditiis, accusamus beatae.

  </div>
  <div class="column is-half">
    <div class="cont-image">
      <img src="assets/mesa_trabajo.png">
    </div>

  </div>
</div> -->


<div class="row">
  <div class="col-6 center">
    <div>
      <h1>¡Bienvenido de nuevo, {{currentUser.user.name}} {{currentUser.user.last_name}}!</h1>
      <h4>
        Desde esta plataforma podrás dar gestión hacia las órdenes de nuestra plataforma.
      </h4>
    </div>

  </div>
  <div class="col-6">
    <div class="cont-image">
      <img src="assets/home-person-1.png">
    </div>
  </div>
</div>