<h3>
    <strong>
        Ingreso a Casillero
    </strong>
</h3>

<br>

<div class="container-fluid">

    <form [formGroup]="formInsertLocker" (ngSubmit)="onSubmit();">

        <div class="container-fluid">

            <div class="row">

                <div class="col-sm">
                    <div class="form-group">
                        <label for="guia">Guia Origen</label>
                        <input type="text" class="form-control" id="guia" formControlName="guide_number"
                            placeholder="Escanea o digita la guía origen"
                            [ngClass]="{ 'is-invalid' : form.guide_number.errors }">
                        <div class="invalid-feedback" *ngIf="form.guide_number.errors">

                            <ng-container *ngIf="form.guide_number.errors.required">
                                Debes ingresar una guia de origen.
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="form-group">
                        <label for="name">Nombre o Casillero de Cliente</label>
                        <input type="text" class="form-control" id="name"
                            placeholder="Ingresa el nombre o casillero del cliente" formControlName="locker"
                            [ngClass]="{ 'is-invalid' : form.locker.errors }">
                        <div class="invalid-feedback" *ngIf="form.locker.errors">
                            <ng-container *ngIf="form.locker.errors.required">
                                Debes seleccionar un casillero.
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="form-group">
                        <label for="conveyor">Transportadora</label>
                        <input type="email" class="form-control" id="conveyor" placeholder="name@example.com"
                            formControlName="conveyor" [ngClass]="{ 'is-invalid' : form.conveyor.errors }">
                        <div class="invalid-feedback" *ngIf="form.conveyor.errors">
                            <ng-container *ngIf="form.conveyor.errors.required">
                                Debes seleccionar la transportadora.
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="form-group">
                        <label for="dateLocker">Fecha de Ingreso</label>
                        <div class="input-group clockpicker">
                            <input ngbDatepicker class="form-control" id="dateLocker" placeholder="yyyy-mm-dd"
                                #dl="ngbDatepicker" formControlName="receipt_date"
                                [ngClass]="{ 'is-invalid' : form.receipt_date.errors }">
                            <div class="input-group-append" (click)="dl.toggle()">
                                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                            </div>
                            <div class="invalid-feedback" *ngIf="form.receipt_date.errors">
                                <ng-container *ngIf="form.receipt_date.errors.required">
                                    Debes ingresar una fecha de recibido.
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm">
                    <div class="form-group">
                        <label for="reason">Plantilla de fraccion</label>
                        <input type="text" class="form-control" id="reason" placeholder="name@example.com"
                            formControlName="reason" [ngClass]="{ 'is-invalid' : form.reason.errors }">
                        <div class="invalid-feedback" *ngIf="form.reason.errors">
                            <ng-container *ngIf="form.reason.errors.required">
                                Debes seleccionar la transportadora.
                            </ng-container>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-sm">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Motivo de Fracción</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com" formControlName="">
                    </div>
                </div> -->

            </div>

            <button class="btn btn-primary" type="submit">Iniciar Ingreso</button>

        </div>

        <div class="container-insert" formArrayName="products">

            <div class="row" *ngFor="let item of product().controls; let i = index;" [formGroupName]="i">

                <hr *ngIf="i > 0">

                <h4>
                    <strong>
                        Ingreso {{i+1}}
                    </strong>
                </h4>

                <div class="col-sm-3">

                    <!-- <div class="col-sm-3 d-flex align-items-center dropzone-in-create" appImageDrag
                        (files)="filesDropped($event, i);">

                        <div class="container-img-dropzone">

                            <a href="{{ createProductForm.get('products')['controls'][i].controls.link.value }}"
                                target="_blank">
                                <img src="{{ createProductForm.get('products')['controls'][i].controls.uploadedFiles.value.url }}"
                                    draggable="false" (error)="onImageError($event);" />
                            </a>

                            <h5>Arrastra tu imagen o haz clic <a class="font-weight-bold cursor-pointer"
                                    (click)="uploadImage(i);">aquí.</a>
                            </h5>

                        </div>

                    </div> -->

                    <div>
                        asdasd
                    </div>



                </div>

                <div class="col">

                    <div class="form-group">
                        <label for="product_name">Nombre de producto</label>
                        <input type="text" class="form-control" id="product_name"
                            placeholder="Ingresa el nombre del producto." formControlName="name">
                    </div>

                    <div class="form-group">
                        <label for="observations">Observaciones del producto</label>
                        <textarea class="form-control" id="observations" rows="3" formControlName="observations"
                            placeholder="Ingresa alguna observación que tengas sobre el producto."></textarea>
                    </div>

                </div>

                <div class="col">

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Valor del Producto</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputPassword"
                                placeholder="Ingresa el valor del producto." min="0" (keypress)="numberOnly($event);">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Cantidad</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputPassword"
                                placeholder="Ingresa la cantidad del producto." min="0"
                                (keypress)="numberOnly($event);">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Peso (Libras)</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputPassword"
                                placeholder="Ingresa el peso del producto." min="0" (keypress)="numberOnly($event);">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Categoría</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Color</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Capacidad</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Talla</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-check form-switch mt-3">
                        <input class="form-check-input" for="force_commercial_shipping" type="checkbox"
                            id="flexSwitchCheckDefault" formControlName="novelty_article">
                        <label class="form-check-label" for="flexSwitchCheckDefault">
                            Novedad en artículo
                        </label>
                    </div>

                    <div class="form-check form-switch mt-3">
                        <input class="form-check-input" for="force_commercial_shipping" type="checkbox"
                            id="flexSwitchCheckDefault" formControlName="free_shipping">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Envío Gratis</label>
                    </div>

                    <div class="form-check form-switch mt-3">
                        <input class="form-check-input" for="force_commercial_shipping" type="checkbox"
                            id="flexSwitchCheckDefault" formControlName="force_commercial_shipping">
                        <label class="form-check-label" for="flexSwitchCheckDefault">
                            Envío Comercial
                        </label>
                    </div>

                </div>

            </div>

        </div>

    </form>

</div>