<div class="modal-header ">
  <h5 class="modal-title mt-0">Actualizar Compra #{{purchaseSelected.id.replaceAll('=',"")}} | {{ (purchaseSelected.product.name.length > 50) ? (purchaseSelected.product.name | slice:0:50 ) + '...' :  purchaseSelected.product.name }}</h5>
  <button type="button" class="btn-close" aria-hidden="true" (click)="closeModale()"></button>
</div>

<div class="container p-4">
  <form [formGroup]="purchaseForm">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label for="order_value">Numero de Orden de Compra</label>
          <input type="text" class="form-control" id="order_value" formControlName="invoice_number" [maxlength]="20">
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label for="order_value">Numero de Guia</label>
          <input type="text" class="form-control" id="order_value" formControlName="guide_number" [maxlength]="20">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-6">
        <div class="form-group">

          <label for="conveyor">Transportadora Internacional</label>
          <select class="form-control" id="conveyor" formControlName="conveyor">
            <option [value]="null" disabled>Seleccióna transportadora</option>
            <option *ngFor="let conveyor of conveyors" [ngValue]="conveyor.id">
              {{conveyor.name}}</option>
          </select>

        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label for="store">Tienda</label>
          <select class="form-control" id="store" formControlName="store">
            <option [value]="null" disabled>Seleccióna tienda</option>
            <option *ngFor="let store of stores" [ngValue]="store.id">
              {{ (store.name.length > 50) ? (store.name | slice:0:50 ) + '...' :  store.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-6">
        <label for="payment">Tipo de Pago</label>
        <select class="form-control" id="payment" formControlName="payment_type">
          <option [value]="null" disabled>Seleccióna tipo de pago</option>
          <option value="cop">cop</option>
          <option value="usd">USD</option>

        </select>
      </div>

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label for="order_value">Total Compra</label>
          <input type="number" class="form-control" id="order_value" (keypress)="numberOnly($event);"
            formControlName="product_price">
        </div>
      </div>
    </div>

    <div class="row mt-3">

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label for="date">Fecha Compra</label>
          <div class="input-group clockpicker">
            <input ngbDatepicker class="form-control" id="date" placeholder="yyyy-mm-dd" #d="ngbDatepicker"
              formControlName="purchase_date">
            <div class="input-group-append" (click)="d.toggle()">
              <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label for="dateLocker">Fecha Estimada de Ingreso a Casillero </label>
          <div class="input-group clockpicker">
            <input ngbDatepicker class="form-control" id="dateLocker" placeholder="yyyy-mm-dd" #dl="ngbDatepicker"
              formControlName="locker_entry_date">
            <div class="input-group-append" (click)="dl.toggle()">
              <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div class="form-group">
          <label for="observations">Observaciones de Compra</label>
          <textarea class="form-control" id="observations" rows="3" formControlName="observations"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>


<div class="modal-footer">

  <button class="btn btn-secondary" (click)="closeModale()" [disabled]="isLoading">
    Cancelar
  </button>

  <button class="btn btn-primary" (click)="updatePurchase()" [disabled]="isLoading">

    <ng-container *ngIf="isLoading">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Cargando...
    </ng-container>

    <ng-container *ngIf="!isLoading">
      Guardar
    </ng-container>
  </button>
</div>
