<div class="table-responsive mb-0">

  <div class="alert alert-primary" role="alert" *ngIf="transactions && transactions.length === 0">
    No hay datos disponibles...
  </div>

  <table class="table table-centered table-nowrap">

    <thead class="table-light">

      <tr>
        <th style="width: 20px"></th>
        <th class="align-middle"># de Orden</th>
        <th class="align-middle">Nombre del Cliente</th>
        <th class="align-middle">Fecha de Creación</th>
        <th class="align-middle">Productos</th>
        <th class="align-middle">Total</th>
        <th class="align-middle">Opciones</th>
      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let data of transactions">

        <td>
          <div class="form-check font-size-16">
            <input class="form-check-input" type="checkbox" id="transactionCheck{{ data.index }}" />
            <label class="form-check-label" for="transactionCheck{{ data.index }}"></label>
          </div>
        </td>

        <td>
          <a href="javascript: void(0);" class="text-body fw-bold">
            {{ data.id }}
          </a>
        </td>

        <td>{{ (data.user?.name ? data.user?.name: "") + ' ' + (data.user?.last_name ? data.user?.last_name: "") }}</td>

        <td>
          {{ data.created_at ? (data.created_at | date: "medium") : "" }}
        </td>

        <td>{{ data.total_products ? data.total_products : "" }}</td>

        <td>{{ data.total_value ? data.total_value : "" }}</td>

        <td>
          <!-- validamos el boton que se muestra dependiendo del estado de la orden -->
          <button type="button" class="btn btn-primary btn-sm btn-rounded" (click)="openModal(data, editOrder,'xl');"
            [disabled]="isLoading" *ngIf="data.status != '3' && data.status != '4'">
            Editar
          </button>
          <!-- ABRIMOS EL ESTADO DE LA ORDEN PARA MOSTRAR EL BOTON DE APROBAR PRODUCTOS -->
          <button type="button" class="btn btn-primary btn-sm btn-rounded" *ngIf="data.status == '3'"
            (click)="openModal(data, registerPurchase,'lg');" [disabled]="isLoading">
            Registrar Compra
          </button>

          <button type="button" class="btn btn-primary btn-sm btn-rounded" *ngIf="data.status == '4'"
            (click)="openModal(data, modalLockerEntry,'xl');" [disabled]="isLoading">
            Ingreso a Casillero
          </button>
        </td>
      </tr>
    </tbody>

  </table>
</div>
<!-- end table -->

<!-- ABRIMOS EL MODAL ENVIANDO LA ORDEN SELECCIONADA -->
<ng-template #editOrder role="document" let-modal>
  <app-modal-edit-order [orderSelected]="orderSelected" (refreshTable)="refreshTable.emit(true)" [status]="status">
  </app-modal-edit-order>
</ng-template>

<!-- MODAL PARA REGISTRAR COMPRAS #registerPurchase  aprobe order-->
<ng-template #registerPurchase role="document" let-modal>
  <app-modal-register-purchase [orderSelected]="orderSelected" (closeModaleOut)="modal.close('Close click')"
    (refreshTable)="refreshTable.emit(true)">
  </app-modal-register-purchase>
</ng-template>

<!-- MODAL PARA INGRESO A CASILLERO -->

<ng-template #modalLockerEntry role="document" let-modal>
  <app-modal-locker-entry [orderSelected]="orderSelected" (refreshTable)="refreshTable.emit(true)">
  </app-modal-locker-entry>
</ng-template>