<div class="table-responsive mb-0">

  <div class="alert alert-primary" role="alert" *ngIf="transactions && transactions.length === 0">
    No hay datos disponibles...
  </div>

  <table class="table table-centered table-nowrap">

    <thead class="table-light">

      <tr>

        <th class="align-middle"># de Orden
          <input type="text" class="form-control mt-2" [formControl]="filterId" (keyup.enter)="filterOrders()" />
        </th>

        <th class="align-middle">Nombre del Cliente
          <input type="text" id="user_id" class="form-control mt-2" autocomplete="off" [formControl]="filterUser"
            placeholder="Selecciona el usuario" [matAutocomplete]="auto_user" (keyup.enter)="filterOrders()">
          <mat-autocomplete #auto_user="matAutocomplete" [displayWith]="displayFnUserName">
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user" (click)="filterOrders()">
              CA{{ user.locker_id }} | {{ user.name }} {{ user.last_name }}
            </mat-option>
          </mat-autocomplete>
        </th>

        <th class="align-middle">
          Fecha de Creación
          <div class="input-group clockpicker mt-2">
            <input placeholder="yyyy-mm-dd" class="form-control" [value]="formatDate()" disabled>
            <input ngbDatepicker class="form-control" id="dateLocker" placeholder="yyyy-mm-dd"
              (ngModelChange)="filterOrders()" #dl="ngbDatepicker" [formControl]="filterDate" style="display: none;">
            <div class="input-group-append" (click)="dl.toggle()">
              <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div>
          </div>
        </th>

        <th class="align-middle">
          Compra Anticipada
          <select class="form-select" [formControl]="filterAdvancePurchase" (change)="filterOrders();">
            <option disabled value="" title="Selecciona filtro...">Selecciona filtro...</option>
            <option [value]="null">Todos</option>
            <option [value]="false">No</option>
            <option [value]="true">Si</option>
          </select>
        </th>

        <th class="th-align">Productos</th>
        <th class="th-align">Total</th>
        <th class="th-align">Opciones</th>
      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let data of transactions">

        <td>
          <a href="javascript: void(0);" class="text-body fw-bold">
            {{ data.id }}
          </a>
        </td>

        <td> CA {{ (data.user.locker.id ? data.user.locker.id +' | ': '') + ' ' + (data.user?.name ? data.user?.name:
          "") + ' ' + (data.user?.last_name ? data.user?.last_name: "") }}
        </td>

        <td>
          {{ data.created_at ? (data.created_at | date: 'MMM d, y, h:mm:ss a') : "" }}
        </td>

        <td>
          {{ data.advance_purchase ? 'Sí' : 'No' }}
        </td>

        <td>{{ data.total_products ? data.total_products : "" }}</td>

        <td>{{ data.total_value ? data.total_value : "" }}</td>

        <td class="d-flex justify-content-around">
          <!-- validamos el boton que se muestra dependiendo del estado de la orden -->
          <button type="button" class="btn btn-primary btn-sm btn-rounded" (click)="openModal(data, editOrder,'xl');"
            [disabled]="isLoading">

            <ng-container *ngIf="getStatusNumber(data.status) >= 2">
              Ver Detalle
            </ng-container>

            <ng-container *ngIf="getStatusNumber(data.status) < 2">
              Editar
            </ng-container>

          </button>

          <!-- ABRIMOS EL ESTADO DE LA ORDEN PARA MOSTRAR EL BOTON DE APROBAR PRODUCTOS -->
          <button type="button" style="margin-left: 10px;" *ngIf="data.status == '3'"
            class="btn btn-primary btn-sm btn-rounded" (click)="openModal(data, registerPurchase,'lg');"
            [disabled]="isLoading">
            Registrar Compra
          </button>
        </td>

      </tr>

    </tbody>

  </table>

</div>
<!-- end table -->

<!-- ABRIMOS EL MODAL ENVIANDO LA ORDEN SELECCIONADA -->
<ng-template #editOrder role="document" let-modal>
  <app-modal-edit-order [orderSelected]="orderSelected" (refreshTable)="refreshTable.emit(true)" [status]="status">
  </app-modal-edit-order>
</ng-template>

<!-- MODAL PARA REGISTRAR COMPRAS #registerPurchase  aprobe order-->
<ng-template #registerPurchase role="document" let-modal>
  <app-modal-register-purchase [orderSelected]="orderSelected" (closeModaleOut)="modal.close('Close click')"
    (refreshTable)="refreshTable.emit(true)">
  </app-modal-register-purchase>
</ng-template>