<div class="table-responsive mb-0">

  <div class="alert alert-primary" role="alert" *ngIf="shippings && shippings.length === 0">
    No hay datos disponibles...
  </div>

  <table class="table table-centered table-nowrap">

    <thead class="table-light">

      <tr [formGroup]="shippingsFilters">

        <th class="align-middle">
          # de Envío
          <input type="text" class="form-control mt-2" formControlName="shipping"
            placeholder="Filtra por el número de envío..." title="Filtra por el número de envío..."
            (keyup.enter)="sendFilter();">
        </th>

        <th class="align-middle">
          Cotización
          <input type="text" class="form-control mt-2" formControlName="order_service"
          placeholder="Filtra por el número de Cotización..." title="Filtra por el número de Cotización..."
          (keyup.enter)="sendFilter();">
        </th>

        <th class="th-align">
          Guía
          <input type="text" class="form-control mt-2" formControlName="guide_number"
            placeholder="Filtra por número de guía..." title="Filtra por el número de guía..."
            (keyup.enter)="sendFilter();">
        </th>

        <th class="align-middle">
          Fecha de Creación
          <div class="input-group clockpicker mt-2">
            <input placeholder="yyyy-mm-dd" class="form-control" [value]="formatDate()" readonly>
            <input ngbDatepicker class="form-control" id="dateLocker" (ngModelChange)="sendFilter();"
              placeholder="yyyy-mm-dd" #dl="ngbDatepicker" formControlName="created_at" style="display: none;">
            <div class="input-group-append" (click)="dl.toggle();">
              <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div>
          </div>
        </th>

        <th class="align-middle">

          Nombre del Cliente

          <input type="text" class="form-control mt-2" formControlName="user" placeholder="Filtrar por cliente..."
            title="Filtrar por cliente..." autocomplete="off" [matAutocomplete]="auto_user"
            (keyup.enter)="sendFilter();">

          <mat-autocomplete #auto_user="matAutocomplete" [displayWith]="displayFnUserName">
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user"
              title="CA{{ user.locker_id }} | {{ user.name }} {{ user.last_name }}" (click)="sendFilter();">
              CA{{ user.locker_id }} | {{ user.name }} {{ user.last_name }}
            </mat-option>
          </mat-autocomplete>

        </th>

        <th class="th-align">
          Dirección
        </th>

        <th class="align-middle">
          Tipo de Envío
          <select class="form-select" formControlName="shipping_type" title="Filtrar por tipo de envio..."
            (change)="sendFilter();">
            <option value="null" selected>Todos</option>
            <option *ngFor="let item of typesShippings" [value]="item.id">{{ item.name }}</option>
          </select>
        </th>

        <th class="align-middle">
          Valor de Envío
          <input type="text" class="form-control mt-2" formControlName="shipping_value"
            placeholder="Filtrar por valor..." title="Filtrar por valor..." (keyup.enter)="sendFilter();"
            (keypress)="numberOnly($event);">
        </th>

        <th class="th-align">Opciones</th>

      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let data of shippings">

        <td>
          <a href="javascript: void(0);" class="text-body fw-bold">
            {{ data.id }}
            <ng-container *ngIf="data && data.parent_id">
              - F{{ data.parent_id }}
            </ng-container>
          </a>
        </td>
        
        <td>
          {{ data.order_service || '-' }}
        </td>

        <td>{{ data.guide_number_alph ? data.guide_number_alph : data.guide_number }}</td>
        <td>{{ data.created_at ? ( data.created_at | date: 'medium' ) : '' }}</td>
        <td>{{ data.full_name ? data.full_name : '' }}</td>
        <td>{{ data.address_code ? data.address_code :'-' }}</td>
        <td>{{ data.shipping_type ? data.shipping_type : "-" }}</td>
        <td>{{ data.total_value ? data.total_value : "" }}</td>

        <td>

          <div class="d-flex">

            <div class="center">
              <button type="button" class="btn btn-primary btn-sm btn-rounded" (click)="getOrderById(data.id)"
                [disabled]="isLoading">
                {{ (data.status != 7) ? 'Editar': 'Detalle' }}
              </button>
            </div>

            <div class="center">
              <button type="button" class="btn" (click)="changeStatusModal(data);">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" style="fill: #c2c2ca">
                  <path d="M12 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zM6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg></span>
              </button>
            </div>

            <div class="delivery" *ngIf="data.status == 3 || data.status == 7" (click)="sendShippingTracking(data);">
              <img src="assets/images/delivery.png" alt="" draggable="false">
            </div>

          </div>

        </td>

      </tr>

    </tbody>

  </table>

</div>