<div class="table-responsive mb-0">

  <div class="alert alert-primary" role="alert" *ngIf="shippings && shippings.length === 0">
    No hay datos disponibles...
  </div>

  <table class="table table-centered table-nowrap">

    <thead class="table-light">

      <tr>
        <th class="align-middle"># de Orden</th>
        <th class="align-middle">Nombre del Cliente</th>
        <th class="align-middle">Dirección</th>
        <th class="align-middle">Tipo de Envío</th>
        <th class="align-middle">Fecha de solicitud</th>
        <th class="align-middle">Valor de Envío</th>
        <th class="align-middle">Opciones</th>
      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let data of shippings">


        <td>
          <a href="javascript: void(0);" class="text-body fw-bold">
            {{ data.id }} <ng-container *ngIf="data && data.parent_id">- F{{ data.parent_id }}</ng-container>
          </a>
        </td>

        <td>{{ (data.user?.name ? data.user?.name: "") + ' ' + (data.user?.last_name ? data.user?.last_name: "") }}</td>

        <td>
          {{ data.address.address ? data.address.address :'' }}
        </td>

        <td>{{ data.shipping_type ? data.shipping_type : "-" }}</td>
        <td>{{ data.delivery_date ? (data.delivery_date | date ) : "" }}</td>


        <td>{{ data.total_value ? data.total_value : "" }}</td>

        <td>
          <!-- btns options -->

          <div class="d-flex">
            
            <div class="center">
              <button type="button" class="btn btn-primary btn-sm btn-rounded" (click)="getOrderById(data.id)"
              [disabled]="isLoading">
              {{(data.status != 7)  ? 'Editar': 'Detalle'}}
            </button>
            </div>
            <div class="delivery" *ngIf="data.status == 3" (click)="sendShippingTracking(data)">
              <img src="assets/images/delivery.png" alt="">
          </div>
          </div>
        </td>
      </tr>
    </tbody>

  </table>
</div>
<!-- end table -->