<div class="modal-header">
  <h5 class="modal-title mt-0">Crear Orden</h5>
  <button type="button" class="btn-close" aria-hidden="true" (click)="close_modale.emit()"></button>
</div>

<div class="modal-body">

  <form [formGroup]="createProductForm">

    <div class="container">

      <div class="container">

        <div class="row">

          <div class="col-7">

            <div class="form-group h5">
              <label for="exampleInputEmail1">Link </label>
              <input type="text" class="form-control" placeholder="Pega aqui el link del producto"
                formControlName="link" />
            </div>

            <div class="form-group h5">
              <label for="exampleFormControlTextarea1">Información adicional</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="aditional_info" cols="30"
                rows="5"
                placeholder="Escribenos la información adicional de producto como talla, color, etc."></textarea>
            </div>

            <div class="form-group h5">

              <label for="exampleInputEmail1">Usuario </label>
              <select class="form-select" id="staticEmail" aria-label="Selecciona un usuario" formControlName="user">
                <option selected disabled value="">Selecciona un usuario...</option>
                <option *ngFor="let user of users" [ngValue]="user">{{user.email}}</option>
              </select>

            </div>

            <div class="d-flex h5">

              <div class="d-flex align-items-center mt-2">

                <div>Cantidad:</div>

                <div style="margin-left: 5px;">
                  <a
                    (click)="(createProductForm.get('quantity').value >=2) ? createProductForm.get('quantity').setValue(createProductForm.get('quantity').value - 1) :''"><i
                      class="fas fa-minus"></i></a>
                </div>

                <div class="mx-2">
                  {{ createProductForm.get("quantity").value }}
                </div>

                <div class="ml-2">

                  <a (click)="createProductForm
                      .get('quantity')
                      .setValue(createProductForm.get('quantity').value + 1)"><i class="fas fa-plus"></i>
                  </a>
                </div>

              </div>

              <div class="d-flex justify-content-end mt-3" style="margin-left: 1rem;">
                <button class="btn btn-success" type="button" (click)="addProduct();" [disabled]="isLoading">
                  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
                  AGREGAR
                </button>
              </div>
            </div>
          </div>

          <div class="col-5 d-flex justify-content-center align-items-center">

            <div class="row mt-2">

              <div class="container-calculator" *ngIf="!isLoadingFormula">

                <div class="h4">
                  Calculadora de Totales
                </div>

                <div>
                  <strong>Valor de Artículos:</strong>
                  {{ (totalValues.total_value ? totalValues.total_value : 0) | number : '1.2-2' }} USD
                </div>

                <div>
                  <strong>Total de Libras:</strong>
                  {{ (totalValues.total_weight ? totalValues.total_weight : 0) }} lb.
                </div>

                <ng-container *ngFor="let formula of totalFormulas">
                  <div>
                    <strong>Valor del envío ({{formula.name}}): </strong>
                    {{ (formula.value ? formula.value : 0) | number : '1.2-2' }} USD
                  </div>
                </ng-container>

                <ng-container *ngFor="let formula of totalFormulas">
                  <div>
                    <strong>Envio a casa ({{formula.name}})</strong>
                    {{ (totalValues.total_value ? totalValues.total_value : 0)
                    + (formula.value ? formula.value : 0) | number : '1.2-2' }}
                    USD
                  </div>
                </ng-container>

              </div>

              <div class="loading-calulator" *ngIf="isLoadingFormula">

                <div class="spinner-border" role="status">
                  <span class="sr-only"></span>
                </div>

                Estamos calculando el valor de envío...

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="table-responsive p-3">

      <h4 class="h4">Productos</h4>

      <!-- se crea el bucle que crea los formularios dinamicos para el usuario -->
      <div formArrayName="products" *ngFor="let item of createProductForm.get('products')['controls']; let i = index;">
        <div>
          <hr>
          <div class="row" [formGroupName]="i">
            <div class="col-3 d-flex justify-content-center align-items-center">
              <img style="object-fit: contain;"
                src="{{createProductForm.get('products')['controls'][i].controls.image.value }}"
                (error)="onImageError($event);" class="avatar" />
            </div>
            <div class="col-4">
              <div>
                <a [href]="createProductForm.get('products')['controls'][i].controls.link.value" target="blank">
                  <h5 class="text-truncate h5">
                    {{createProductForm.get('products')['controls'][i].controls.name.value}}
                  </h5>
                </a>
              </div>

              <div class="mt-2">
                {{ item.aditional_info }}
              </div>

              <div class="form-group mt-2 h5">
                <label for="exampleFormControlTextarea1">Observaciones de Cotización</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="aditional_info"
                  cols="30" rows="5"
                  placeholder="Escribenos la información adicional de producto como talla, color, etc."></textarea>
              </div>

              <div class="form-group mt-2 h5">
                <label for="exampleFormControlTextarea2">Observaciones del cliente</label>
                <textarea class="form-control" id="exampleFormControlTextarea2" cols="30" rows="5"
                  formControlName="description" placeholder="Observaciones del cliente"></textarea>
              </div>

              <div class="mt-2 h5 d-flex">
                <div class="mx-2" *ngIf="createProductForm.get('products')['controls'][i].controls.quantity.value > 1">
                  <a (click)="createProductForm.get('products')['controls'][i].controls.quantity.value = 
                  createProductForm.get('products')['controls'][i].controls.quantity.value - 1 ; getFormula(i)">
                    <i class="fas fa-minus"></i>
                  </a>
                </div>
                <div class="item-quantity">
                  Cantidad: {{ createProductForm.get('products')['controls'][i].controls.quantity.value }}
                </div>
                <div class="mx-2">
                  <a (click)="createProductForm.get('products')['controls'][i].controls.quantity.value = 
                  createProductForm.get('products')['controls'][i].controls.quantity.value + 1; getFormula(i)">
                    <i class="fas fa-plus"></i>
                  </a>
                </div>
              </div>

            </div>

            <div class="col-5">

              <div class="row">

                <div class="col-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="text-truncate h5">Valor Articulo USD *</label>
                    <input type="number" class="form-control" placeholder="Valor en USD" formControlName="product_value"
                      (keypress)="numberOnly($event);" (blur)="getFormula(i);" min="0">
                  </div>
                </div>

                <div class="col-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="text-truncate h5">Desc. (%)</label>
                    <input type="number" class="form-control" placeholder="% descuento" formControlName="discount"
                      (keypress)="numberOnly($event);" (blur)="getFormula(i);" min="0">
                  </div>
                </div>

                <div class="col-3">

                  <div class="form-group">

                    <label class="text-truncate h5">Tax</label>

                    <div>

                      <input type="number" class="form-control" placeholder="Tax" formControlName="tax" min="0"
                        (keypress)="numberOnly($event);" (blur)="calculateTaxManually(i);">

                      <div class="container-calcs">

                        <div class="tooltip-encargomio">
                          <i class="fas fa-calculator"
                            [ngClass]="{ 'selected-tax': createProductForm.get('products')['controls'][i].controls.selected_tax.value == '1' }"
                            (click)="changeCalculator('1', i);">
                          </i>
                          <span class="tooltiptext">Sin envío Origen</span>
                        </div>

                        <div class="tooltip-encargomio">
                          <i class="fas fa-calculator"
                            [ngClass]="{ 'selected-tax': createProductForm.get('products')['controls'][i].controls.selected_tax.value == '2' }"
                            (click)="changeCalculator('2', i);">
                          </i>
                          <span class="tooltiptext">Con envío Origen</span>
                        </div>

                      </div>

                    </div>

                  </div>

                </div>

              </div>

              <div class="row mt-4">

                <div class="form-group col-12">
                  <label for="exampleInputEmail1" class="text-truncate h5">Envio Origen (USD)</label>
                  <input type="number" class="form-control" placeholder="Envio origen"
                    formControlName="shipping_origin_value_product" (keypress)="numberOnly($event);"
                    (blur)="getFormula(i);" min="0">
                </div>

              </div>

              <div class="row mt-4">

                <div class="col-6">
                  <label for="form-group exampleInputEmail1" class="text-truncate h5">Peso(Libras) *</label>
                  <input type="number" class="form-control" placeholder="Peso en libras" formControlName="weight"
                    (keypress)="numberOnly($event);" (blur)="getFormula(i);" min="0">
                </div>

                <div class="col-6">
                  <label for="form-group exampleInputEmail1" class="text-truncate h5">Valor Envio fijo </label>
                  <input type="number" class="form-control" placeholder="Valor envio fijo"
                    formControlName="permanent_shipping_value" (keypress)="numberOnly($event);" (blur)="getFormula(i);"
                    min="0">
                </div>

              </div>

              <div class="row mt-4">

                <div class="col-6 text-truncate h5">

                  <label for="total_price" class="text-truncate h5">Sub Total</label>

                  <div>
                    {{ createProductForm.get('products')['controls'][i].controls.sub_total.value | number : '1.2-2' }}
                    USD
                  </div>

                </div>

                <div class="col-6">

                  <div class="form-check form-switch text-truncate h5">

                    <label for="form-group">Envio Gratis</label>
                    <input class="form-check-input" type="checkbox" formControlName="free_shipping"
                      id="flexSwitchCheckChecked" (change)="resetProductValue(i);">
                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

      <div *ngIf="createProductForm.get('products')['controls'].length === 0">
        <div class="mt-3 d-flex justify-content-center h6">
          Aún no has agregado productos
        </div>
      </div>

    </div>

  </form>

</div>

<div class="modal-footer">

  <button class="btn btn-secondary" (click)="close_modale.emit()">
    Cancelar
  </button>

  <button class="btn btn-primary" (click)="createOrder()" [disabled]="isLoading">
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
    Aprobar
  </button>

</div>