.fas {
  cursor: pointer;
}

.avatar {
  width: 10rem;
  height: 10rem;
}

.c-gray {
  color: #adadad !important;
}

.container-calculator {
  font-size: 18px;
}

.container-calcs {
  font-size: 20px;
  display: flex;
}

.container-tax {
  display: flex;
  justify-content: space-evenly;
}

.selected-tax {
  color: #ef8921;
}
