.fas {
  cursor: pointer;
}

.avatar {
  width: 10rem;
  height: 10rem;
}

.c-gray {
  color: #adadad !important;
}

.container-calculator {
  font-size: 15px;
}

.container-calcs {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.container-tax {
  display: flex;
  justify-content: space-evenly;
}

.selected-tax {
  color: #ef8921;
}

.tooltip-encargomio {
  position: relative;
  display: inline-block;
}

.tooltip-encargomio .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #ef8921;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: fixed;
  z-index: 1051;
  font-size: 13px;
}

.tooltip-encargomio:hover .tooltiptext {
  visibility: visible;
}
