<div class="modal-header">
  <h5 class="modal-title mt-0">Ingreso a Casillero</h5>
  <button type="button" class="btn-close" aria-hidden="true" (click)="closeModalStatus()"></button>
</div>

<div class="container p-4" *ngIf="purchaseSelected && !purchaseSelected.locker_has_product">

  <div class="alert alert-primary" role="alert" *ngIf="toHome.status">
    <strong>Nota:</strong>
    <div>
      {{ toHome.to_home ? 'Producto para envío a Casa' : 'Producto para envío a Casillero' }}
    </div>
  </div>

  <form [formGroup]="lockerForm">

    <div class="row">

      <div class="col-12 col-sm-6">

        <div class="form-group">

          <label for="guia">Número Guia Origen</label>
          <input type="text" id="guia" class="form-control" placeholder="Busca el número de guía"
            formControlName="guide_number" [matAutocomplete]="auto"
            (input)="autoCompleteGuide($event.target.value);"
            title="{{ lockerForm.controls.guide_number.value ? lockerForm.controls.guide_number.value : '' }}">

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let guide of allGuides" [value]="guide">
              {{ guide.guide_number_alph ? guide.guide_number_alph : guide.guide_number }}
            </mat-option>
          </mat-autocomplete>

        </div>

      </div>

      <div class="col-12 col-sm-6">

        <div class="form-group">

          <label for="orders">Orden de Compra</label>

          <input type="text" id="orders" class="form-control"
            placeholder="{{ lockerForm.controls.guide_order.value ?  lockerForm.controls.guide_order.value : 'Busca la orden...' }}"
            formControlName="guide_order" [matAutocomplete]="auto_order"
            title="{{ lockerForm.controls.guide_order.value ?  lockerForm.controls.guide_order.value : '' }}">

          <mat-autocomplete #auto_order="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let order of filteredOrders | async" [value]="order">
              {{ order.order_service?.id ? order.order_service?.id : '' }} | {{ order.product.name ? order.product.name
              : '' }}
            </mat-option>
          </mat-autocomplete>

        </div>

      </div>

    </div>

    <div class="row mt-3">

      <div class="col-12">

        <div class=" dropzone-in-create" appImageDrag (files)="filesDropped($event);">

          <div class="container-img-dropzone">

            <ng-container *ngFor="let item of files">
              <img src="{{item.url ? item.url : ''}}" (error)="onImageError($event);" draggable="false" />
            </ng-container>

          </div>

          <div>

            <h5>
              Arrastra tu imagen o haz clic <a class="font-weight-bold cursor-pointer"
                (click)="uploadImage();">aquí.</a>
            </h5>

            <ng-container *ngIf="isLoadingUpload">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </ng-container>

          </div>

        </div>

      </div>

    </div>

    <div class="row mt-3">

      <div class="col-12 col-sm-6">

        <div class="form-group">

          <label for="lockers">Casillero</label>

          <input class="form-control" id="lockers" formControlName="locker_info"
            (input)="autoCompleteLocker($event.target.value);" [matAutocomplete]="auto_locker"
            placeholder="Búsqueda de casillero...">

          <div class="spinner-border text-dark" role="status" *ngIf="loaderLockers">
            <span class="sr-only"></span>
          </div>

          <mat-autocomplete #auto_locker="matAutocomplete">
            <mat-option *ngFor="let locker of allLockers" [value]="locker">
              CA{{ locker.locker_id ? locker.locker_id : 0 }} | {{ locker.us_name }} {{ locker.us_last_name }}
            </mat-option>
          </mat-autocomplete>

        </div>

      </div>

      <div class="col-12 col-sm-6">

        <div class="form-group">
          <label for="description-product">Nombre del Producto </label>
          <input type="text" class="form-control" id="description-product" formControlName="product_description">
        </div>

      </div>

    </div>

    <div class="row mt-3">

      <div class="col-12 col-sm-6">

        <div class="form-group">
          <label for="weight">Peso (libras)</label>
          <input type="number" class="form-control" id="weight" (keypress)="numberOnly($event);" min="0"
            formControlName="weight" [ngClass]="{ 'is-invalid' : form.weight.errors }">

          <div class="invalid-feedback" *ngIf="form.weight.errors">
            <ng-container *ngIf="form.weight.errors.required">
              El valor del peso debe ser requerido.
            </ng-container>
            <ng-container *ngIf="form.weight.errors.min">
              El valor mínimo requerido es 0.1 el actual es {{ form.weight.errors.min.actual }}
            </ng-container>
          </div>

        </div>

      </div>

      <div class="col-12 col-sm-6">

        <div class="form-group">
          <label for="dateLocker">Fecha de Recibido</label>
          <div class="input-group clockpicker">
            <input ngbDatepicker class="form-control" id="dateLocker" placeholder="yyyy-mm-dd" #dl="ngbDatepicker"
              formControlName="receipt_date" [ngClass]="{ 'is-invalid' : form.receipt_date.errors }">
            <div class="input-group-append" (click)="dl.toggle()">
              <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div>
            <div class="invalid-feedback" *ngIf="form.receipt_date.errors">
              <ng-container *ngIf="form.receipt_date.errors.required">
                Debes ingresar una fecha de recibido
              </ng-container>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row mt-3">

      <div class="col-12 col-sm-6">

        <div class="form-group">
          <label for="envio">Valor Envío Fijo :</label>
          <input type="number" class="form-control" id="envio" (keypress)="numberOnly($event);" min="0"
            formControlName="permanent_shipping_value">
        </div>

      </div>

      <div class="col-12 col-sm-6">

        <div class="form-group">
          <label for="vA">Valor Declarado(Administrador)</label>
          <input type="number" class="form-control" id="vA" (keypress)="numberOnly($event);" min="0"
            formControlName="declared_value_admin" [ngClass]="{ 'is-invalid' : form.declared_value_admin.errors }">
          <div class="invalid-feedback" *ngIf="form.declared_value_admin.errors">
            <ng-container *ngIf="form.declared_value_admin.errors.required">
              Debes ingresar un valor declarado por el administrador.
            </ng-container>
          </div>
        </div>

      </div>

    </div>

    <div class="row mt-3">

      <div class="col-12 col-sm-6">

        <div class="form-group">

          <label for="conveyor">Transportadora Origen</label>

          <input class="form-control" id="conveyor" formControlName="conveyor" [matAutocomplete]="auto_conveyor"
            placeholder="Búsqueda de transportadora..." [ngClass]="{ 'is-invalid' : form.conveyor.errors }">

          <div class="invalid-feedback" *ngIf="form.conveyor.errors">
            <ng-container *ngIf="form.conveyor.errors.required">
              Debes seleccionar una transportadora de origen.
            </ng-container>
          </div>

          <mat-autocomplete #auto_conveyor="matAutocomplete" [displayWith]="displayConveyors">
            <mat-option *ngFor="let conveyor of filteredConveyors | async" [value]="conveyor">
              {{conveyor.name}}
            </mat-option>
          </mat-autocomplete>

        </div>

      </div>

      <div class="col-12 col-sm-6">

        <div class="form-check form-switch mt-3">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
            formControlName="force_commercial_shipping">
          <label class="form-check-label" for="flexSwitchCheckDefault">Forzar Envío Comercial</label>
          <p>Los productos que se envíen en compañía de este articulo, aplicaran el cálculo bajo la fórmula de envío
            comercial.</p>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="description">Observaciones</label>
          <textarea class="form-control" id="description" rows="3" formControlName="product_observations"></textarea>
        </div>
      </div>
    </div>

  </form>

  <br>

  <div>

    <div>
      Imagen de Origen
    </div>

    <div class="d-flex justify-content-center">
      <a href="{{ purchaseSelected.product_link ? purchaseSelected.product_link : ''}}" target="_blank">
        <img [src]="purchaseSelected.product_image" alt="" draggable="false" style="height: 300px">
      </a>
    </div>

  </div>

</div>

<div class="modal-footer">

  <button class="btn btn-secondary" (click)="closeModalStatus();" [disabled]="isLoading || getQueries">
    Cancelar
  </button>

  <button class="btn btn-primary" (click)="registerInLocker();" [disabled]="isLoading || getQueries">
    Guardar
  </button>

</div>