<div class="modal-header">
  <h5 class="modal-title mt-0">Actualizar Envio |
    {{ shippingToUpdate ? 'CA' + shippingToUpdate.user.locker[0].id : '' }}
    {{ shippingToUpdate ? shippingToUpdate.user.name + ' ' + shippingToUpdate.user.last_name : '' }} </h5>
  <button type="button" class="btn-close" (click)="closeModale()" aria-hidden="true"></button>
</div>

<div class="modal-body">

  <div class="d-flex justify-content-around">
    <button class="btn btn-success" (click)="generateLabel();" [disabled]="isLoadingLabel">Generar Rótulo</button>
    <button class="btn btn-warning" (click)="goToFragment();">Fraccionar Envío</button>
  </div>

  <ng-container *ngIf="isLoadingData">
    Cargando...
  </ng-container>

  <ng-container *ngIf="!isLoadingData">

    <form [formGroup]="updateShippingForm">

      <div class="row mt-3">

        <div class="col-12 col-sm-6">

          <div class="form-group">
            <label for="guide_number">Número de Guía *</label>
            <input type="number" class="form-control" placeholder="Ingresa tu número de guía" id="guide_number"
              formControlName="guide_number">
          </div>

        </div>

        <div class="col-12 col-sm-6">

          <div class="form-group">

            <label for="conveyor">Transportadora Internacional * </label>

            <input type="text" class="form-control" id="conveyor"
              placeholder="Selecciona la Transportadora Internacional" formControlName="conveyor"
              [matAutocomplete]="auto_conveyors">

            <mat-autocomplete #auto_conveyors="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let conveyor of filteredConveyors | async" [value]="conveyor">
                {{ conveyor.name }}
              </mat-option>
            </mat-autocomplete>

          </div>

        </div>

      </div>

      <div class="row mt-3">

        <div class="col-12 col-sm-6">

          <div class="form-group">

            <label for="delivery_date">Fecha de Entrega *</label>

            <div class="input-group clockpicker">
              <input ngbDatepicker class="form-control" id="delivery_date" placeholder="yyyy-mm-dd" #dl="ngbDatepicker"
                formControlName="delivery_date">
              <div class="input-group-append" (click)="dl.toggle()">
                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
              </div>
            </div>

          </div>

        </div>

        <div class="col-12 col-sm-6">

          <div class="form-group">
            <label for="total_value">Valor Envio</label>
            <input type="number" class="form-control" id="total_value" formControlName="total_value">
          </div>

        </div>

      </div>

      <div class="row mt-3">

        <div class="col-12 col-sm-6">

          <div class="form-group">

            <label for="store">Tipo de Envio *</label>

            <select class="form-control" id="store" formControlName="shipping_type">

              <option value="null" disabled>Selecciona tipo de envío</option>

              <option *ngFor="let shipping of shipping_types" [ngValue]="shipping.id">
                {{ shipping.name }}
              </option>

            </select>

          </div>

        </div>

        <div class="col-12 col-sm-6">

          <div class="form-group ">

            <label for="user_id">Usuario *</label>

            <input type="text" id="user_id" class="form-control" autocomplete="off" formControlName="user"
              placeholder="Selecciona el usuario" [matAutocomplete]="auto_user">

            <mat-autocomplete #auto_user="matAutocomplete" [displayWith]="displayFnUserName">
              <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                CA{{ user.locker_id }} | {{ user.name }} {{ user.last_name }}
              </mat-option>
            </mat-autocomplete>

          </div>

        </div>

      </div>

      <div class="row mt-3 mt-3">

        <div class="col-12 col-sm-6">

          <div class="form-group">

            <label for="store">Dirección de Envio *</label>

            <input type="text" class="form-control" autocomplete="off" formControlName="address"
              placeholder="Dirección de envío" [matAutocomplete]="auto_address">

            <mat-autocomplete #auto_address="matAutocomplete" [displayWith]="displayFnAddress">
              <mat-option *ngFor="let address of filteredAddress | async" [value]="address">
                {{ address.address }}
              </mat-option>
            </mat-autocomplete>

          </div>

        </div>

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <label for="observations">Observaciones de Compra</label>
            <textarea class="form-control" id="observations" row mt-3s="3" formControlName="observations"></textarea>
          </div>
        </div>

      </div>

      <div class="col-12 col-sm-12 p-3 px-4 const-warning" *ngIf="message.await_products">
        <a style="color:red">
          <i class="fas fa-exclamation-triangle fa-2x"></i>
        </a>
        <span class="mx-2"> Aún no estan todos los productos del envío en el casillero</span>
      </div>

      <div class="row mt-3">

        <div cdkDropListGroup>

          <div class="example-container">

            <h2>En Casillero</h2>

            <div cdkDropList [cdkDropListData]="inLocker" class="example-list" (cdkDropListDropped)="drop($event)">

              <div *ngIf="inLocker && inLocker.length === 0">
                No hay productos en el casillero
              </div>

              <div class="example-box" *ngFor="let item of inLocker; let i = index;" cdkDrag>

                <div class="d-flex justify-content-center">
                  <a [href]="item.product.link" target="_blank">
                    <img [src]="item.product.image" (error)="$event.target.src = 'assets/images/default.jpg'" alt="">
                  </a>
                </div>

                <div> #{{ item.product.id }}</div>

                <div title="{{ item.product.name ? item.product.name : '' }}">
                  {{ (item.product.name.length > 50) ? (item.product.name | slice:0:50 ) + '...' :
                  item.product.name}}
                </div>

                <div><strong>Peso: </strong> {{ item.weight }} lb.</div>

                <div><strong>Descripción: </strong> {{ item.product.description ? item.product.description : 'N/A' }}
                </div>

              </div>

            </div>

          </div>

          <div class="example-container">

            <h2>En este Envío</h2>

            <div cdkDropList [cdkDropListData]="outLocker" class="example-list" (cdkDropListDropped)="drop($event)">

              <div *ngIf="outLocker && outLocker.length === 0">
                No hay productos en este envío
              </div>

              <div class="example-box" *ngFor="let item of outLocker; let i = index" cdkDrag>

                <div class="d-flex justify-content-end" style="cursor: pointer;"
                  (click)="deleteProduct('outLocker', i);">
                  <i class="bx bx-trash-alt"></i>
                </div>

                <div class="d-flex justify-content-center">
                  <a [href]="item.product.link" target="_blank">
                    <img [src]="item.product.image" (error)="$event.target.src = 'assets/images/default.jpg'" alt="">
                  </a>
                </div>

                <div> #{{ item.product.id }}</div>

                <div>
                  {{ (item.product.name.length > 50) ? (item.product.name | slice:0:50 ) + '...' :
                  item.product.name}}
                </div>

                <div><strong>Peso:</strong> {{ item.weight }} lb.</div>

                <div><strong>Descripción:</strong>{{ item.product.description }}</div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </form>

  </ng-container>


</div>

<div class="modal-footer">

  <button class="btn btn-secondary" (click)="closeModale()">
    Cancelar
  </button>
  <button class="btn btn-primary" [disabled]="isLoading" (click)="updateShippingPackcage()"
    *ngIf="shippingToUpdate.status =='1'">
    <span class="spinner-grow  spinner-grow" role="status" aria-hidden="true" *ngIf="isLoading"></span>
    Empacado
  </button>

  <button class="btn btn-primary" [disabled]="isLoading" (click)="updateShipping()">
    Actualizar
  </button>

</div>