<div class="container-table" [ngClass]="{ 'hide-table' : isLoading }">

  <div class="col-sm">

    <div class="text-sm-end">

      <button type="button" class="btn btn-danger btn-rounded mb-2 me-2" (click)="resetFilters()">
        <i class="bx bx-trash-alt mr-1"></i>
        Eliminar Filtros
      </button>

    </div>

  </div>

  <div class="table-responsive mb-0" style="min-height: 500px;">

    <div class="alert alert-primary" role="alert" *ngIf="purchases && purchases.length === 0">
      No hay datos disponibles...
    </div>

    <table class="table table-centered table-nowrap mt-3">

      <thead class="table-light">

        <tr>

          <th class="align-middle">
            Imagen
            <div class="mt-2"></div>
          </th>

          <th class="align-middle">
            # Compra
            <div class="mt-2">
              <input type="text" class="form-control" [formControl]="filterCode" (keyup.enter)="filterPurchase()"
                placeholder="Ingresa el Id de la compra" (keydown)="keyDownFunction($event);" />
            </div>
          </th>

          <th class="align-middle">
            Cotización
            <div class="mt-2">
              <input type="text" class="form-control" [formControl]="filterOrderService"
                placeholder="Ingresa el Id de cotización" (keyup.enter)="filterPurchase()"
                (keydown)="keyDownFunction($event);" />
            </div>
          </th>

          <th class="align-middle">
            Guía
            <div class="mt-2">
              <input type="text" class="form-control" placeholder="Ingresa el número de guía..."
                [formControl]="filterGuide" (keyup.enter)="filterPurchase()" (keydown)="keyDownFunction($event);">
            </div>
          </th>

          <th class="align-middle">
            Estado Cotización
            <select class="form-select" [formControl]="filterOrderServiceStatus" (change)="filterPurchase();">
              <option disabled value="" title="Selecciona filtro...">Selecciona filtro...</option>
              <option value="null">Todos</option>
              <option [value]="3">Proceso Compra</option>
              <option [value]="4">Ingresar Producto</option>
              <option [value]="5">Finalizada</option>
              <option [value]="6">Cancelada</option>
            </select>
          </th>
          <!--SEARCH STATES ON UTILS.TOOL.TS (GET_STATUS)-->

          <th class="align-middle">Fecha Compra
            <div class="input-group clockpicker mt-2" style="min-width: 150px;">
              <input placeholder="yyyy-mm-dd" class="form-control" [value]="formatDate()" disabled>

              <input ngbDatepicker class="form-control" id="dateLocker" placeholder="yyyy-mm-dd"
                (ngModelChange)="filterPurchase()" #dl="ngbDatepicker" [formControl]="filterDate"
                style="display: none;">
              <div class="input-group-append" (click)="dl.toggle()">
                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
              </div>
            </div>
          </th>

          <th class="align-middle">Fecha Ingreso Casillero
            <div class="input-group clockpicker mt-2" style="min-width: 150px;">
              <input placeholder="yyyy-mm-dd" class="form-control" [value]="formatLockerDate()" disabled>

              <input ngbDatepicker class="form-control" id="dateLocker" placeholder="yyyy-mm-dd"
                (ngModelChange)="filterPurchase()" #dl2="ngbDatepicker" [formControl]="filterLockerDate"
                style="display: none;">
              <div class="input-group-append" (click)="dl2.toggle()">
                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
              </div>
            </div>
          </th>

          <th class="align-middle">
            PEC
            <div class="mt-2">
              <input type="text" class="form-control" [formControl]="filterIdProduct" placeholder="PEC"
                (keyup.enter)="filterPurchase()" (keydown)="keyDownFunction($event);" />
            </div>
          </th>

          <th class="align-middle">Nombre del Producto
            <div class="mt-2">
              <input type="text" class="form-control" [formControl]="productName"
                placeholder="Ingresa el nombre del producto" (keyup.enter)="filterPurchase()"
                (keydown)="keyDownFunction($event);" />
            </div>
          </th>

          <th class="align-middle">
            Estado Producto
            <select class="form-select" [formControl]="filterStatusProduct" (change)="filterPurchase();">
              <option disabled title="Selecciona filtro...">Selecciona filtro...</option>
              <option value="null">Todos</option>
              <option [value]="0">Por Ingresar</option>
              <option [value]="1">En Casillero</option>
            </select>
          </th>

          <th class="align-middle">
            Tienda Origen
            <select class="form-select" [formControl]="filterStore" (change)="filterPurchase();">
              <option disabled title="Selecciona filtro...">Selecciona Tienda...</option>
              <option value="null">Todas</option>
              <option *ngFor="let store of stores" [value]="store.id">
                {{ (store.name.length > 50) ? (store.name | slice:0:50 ) + '...' : store.name }}</option>
            </select>
          </th>

          <th class="align-middle">Numero de Compra
            <div class="mt-2">
              <input type="text" class="form-control" placeholder="Ingresa el número de compra"
                [formControl]="purchaseNumber" (keyup.enter)="filterPurchase()" (keydown)="keyDownFunction($event);" />
            </div>
          </th>

          <th class="align-middle">
            Usuario
            <div class="mt-2">
              <input type="text" id="user_id" class="form-control" autocomplete="off" [formControl]="filterUser"
                (keyup.enter)="filterPurchase()" placeholder="Selecciona el usuario" [matAutocomplete]="auto_user">
              <mat-autocomplete #auto_user="matAutocomplete" [displayWith]="displayFnUserName">
                <mat-option *ngFor="let user of filteredUsers | async" [value]="user" (click)="filterPurchase()">
                  CA{{ user.locker_id }} | {{ user.name }} {{ user.last_name }}
                </mat-option>
              </mat-autocomplete>
            </div>
          </th>

          <th class="align-middle">Total de la Compra
            <div class="mt-2">
              <!-- <input type="text" class="form-control" [formControl]="total_value" (keyup.enter)="filterPurchase()" /> -->
            </div>
          </th>

          <th class="align-middle">Opciones</th>

        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let data of purchases" [ngClass]="{ 'sold-out' : data.sold_out }">

          <td style="position: relative;">
            <div class="image-product">
              <a [href]="data.product_link" target="_blank">

                <ng-container *ngIf="data.product_images && data.product_images.length > 0">
                  <img [src]="data.product_images[0]?.Location" (error)="onImageError($event);" draggable="false">
                </ng-container>

                <ng-container *ngIf="data.product_images && data.product_images.length === 0 || !data.product_images">
                  <img [src]="data.product_image" (error)="onImageError($event);" draggable=" false">
                </ng-container>

              </a>
            </div>
            <a [href]="data.product_link" target="_blank" *ngIf="data.sold_out">
              <img class="img-sold-out" src="/assets/agotado.png" alt="" draggable="false">
            </a>
          </td>

          <td>
            <a class="text-body fw-bold">
              {{ data.id }}
            </a>
          </td>

          <td>
            {{ data.order_service || '-' }}
          </td>

          <td>
            {{ data.guide_number_alph || data.guide_number }}
          </td>

          <td>
            {{ getStatus(data.order_service_status) }}
          </td>

          <td>
            {{data.purchase_date | date }}
          </td>

          <td>
            {{data.locker_entry_date | date }}
          </td>

          <td>
            {{ data.product_id ? data.product_id : '-' }}
          </td>

          <td title="{{ data.product_name ? data.product_name : '' }}">
            {{ (data.product_name ? (data.product_name.length > 50) ? (data.product_name | slice:0:50 ) + '...' :
            data.product_name : '' ) }}
          </td>

          <td>
            {{ data.locker_has_product ? 'En Casillero' : 'Por Ingresar' }}
          </td>

          <td>
            {{ data.store_name }}
          </td>

          <td>
            {{ data.invoice_number }}
          </td>

          <td>
            CA{{data.locker_id + ' ' + data?.user_name + ' '+ data?.last_name}}
          </td>

          <td>
            USD {{ data.product_price ? data.product_price : 0 }} /
            {{((data.product_price ? data.product_price : 0) * data.trm_value) | currency:'COP ' :'symbol' : '1.0-0'}}
          </td>

          <td>

            <button type="button" class="btn btn-primary btn-sm btn-rounded" [disabled]="isLoading"
              (click)="selectPurchase(data);" *ngIf="!data.sold_out">
              Editar
            </button>

            <!---modal-->
            <button type="button" *ngIf="!data.sold_out && !data.locker_has_product" style="margin-left: 10px;"
              class="btn btn-success btn-sm btn-rounded" (click)="goToInsertLocker(data);">
              Ingresar a Casillero
            </button>

            <button type="button" class="btn btn-info btn-sm btn-rounded" style="margin-left: 10px;"
              (click)="openLocker(modaldetail, data);">
              Ver Detalle
            </button>

            <button type="button" style="margin-left: 10px;" class="btn btn-danger btn-rounded btn-sm"
              (click)="delete(data);">
              <i class="bx bx-trash-alt mr-1"></i>
            </button>

          </td>

        </tr>

      </tbody>

    </table>

  </div>

  <mat-paginator [length]="count" [pageSize]="10" [showFirstLastButtons]="true" [pageSizeOptions]="[10, 15, 20]"
    (page)="emitPage($event)">
  </mat-paginator>

</div>

<!-- <ng-template #modal role="document" let-modal>
  <app-locker-entry [users]="users" [trm]="trm" [conveyors]="conveyors" [purchaseSelected]="purchaseSelected"
    (refreshTable)="refreshTableReceive($event);" (closeModal)="closeModalReceive(modal);">
  </app-locker-entry>
</ng-template> -->

<ng-template #modaldetail role="document" let-modal>
  <app-detail-purchases [purchaseSelected]="purchaseSelected"></app-detail-purchases>
</ng-template>