<div class="modal-header ">
  <h5 class="modal-title mt-0">Cambiar Imagen</h5>
  <button type="button" class="btn-close" aria-hidden="true" (click)="closeModale()"></button>
</div>

<div class="container p-4">
  <div class="columns">

    <div class="col-sm-12 image-cont">
      <div class="mt-4 " *ngIf="!loaderImage">
        <div class="">
          <button class="btn btn-upload" (click)="preview()">Selecciona Imagen</button>
        </div>
      </div>

      <div class="spinner-border " role="status" *ngIf="loaderImage">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="column col-sm-12 image-cont">

      <img [src]="imgURL" *ngIf="imgURL" style="max-width: 15rem;">
    </div>


  </div>

</div>


<div class="modal-footer">

  <button class="btn btn-secondary" (click)="closeModale()" [disabled]="isLoading">
    Cancelar
  </button>

  <button class="btn btn-primary" (click)="createImage()" [disabled]="isLoading">

    <ng-container *ngIf="isLoading">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Cargando...
    </ng-container>

    <ng-container *ngIf="!isLoading">
      Guardar
    </ng-container>
  </button>
</div>
