<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <app-page-title title="Productos de Usuario En Casillero"></app-page-title>


        <div class="form-group h5">
          <label for="exampleInputEmail1">Usuario </label>
          <div class="input-group">
            <div class="form-outline" style="width: 20%;">
              <input type="search" id="form1" class="form-control" type="text" id="user_id" class="form-control"
                autocomplete="off" [formControl]="filterUser" placeholder="Selecciona el usuario"
                [matAutocomplete]="auto_user" />
            </div>
            <button type="button" class="btn btn-primary" (click)="filterProductsByUser()">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <mat-autocomplete #auto_user="matAutocomplete" [displayWith]="displayFnUserName">
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
              CA{{ user.locker_id }} | {{ user.name }} {{ user.last_name }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>

      <div class="row cont-products mt-5">
        <div class="col-12">
          <div class="d-flex flex-wrap">

            <div class="card cont-card" *ngFor="let item of products">
              <img class="card-img-top" [src]="item?.images[0]?.Location" (error)="onImageError($event)"
                alt="Card image cap">
              <div class="card-body">
                <strong>
                  <p class="card-text h4">#000{{item.product}}</p>
                </strong>
                <p class="card-text h5">{{item.name}}</p>
                <p class="card-text h5">Peso :{{item.weight}}</p>
                <p class="card-text h5">Guia :{{item.guide_number_alph}}</p>
                <p class="card-text h5">{{ item.receipt_date ? (item.receipt_date | date : 'MMMM d') : '' }}</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="paginator">
      <mat-paginator [length]="count" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"
        (page)="filterProductsByUser($event)" aria-label="Select page">
      </mat-paginator>

    </div>
  </div>
</div>
