.cont-products {
  min-height: 500px;
}

.card-img-top {
  max-width: 18rem;
  max-height: 18rem;
  object-fit: contain;
}

.cont-card {
  width: 350px;
  margin: 10px;
  background-color: #f3f1f1;
  padding: 10px;
  border-radius: 30px;
}

.container-information {
  padding: 20px;
}
